#export-link{style: "font-size: 20px; color: white; text-align: right; padding: 10px"}
  = link_to '&#x21E9; Download CSV'.html_safe, export_translations_path
#translations
  = render :partial=>'translations_nav'


