<% @nav_class[:profile] = :current -%>
<h1 role="heading" aria-level="1" >Edit Partner Details</h1>

<div class="profile">
  <%= form_for @partner, :url => partner_path(@partner) , :method => :put do |form| %>
    <%= render :partial => form %>
    <%= partner_rollover_button("update", "update") %>
  <% end %>
</div>
