<div style="max-width: 700px; margin: 0 auto;">
<%= I18n.t('email.chaser.body.main', 
  :registrant_first_name=>@registrant_first_name, 
  :registrant_first_name_with_space=>(@registrant_first_name.blank? ? "" : " #{@registrant_first_name}"),
  :registrant_last_name=>@registrant_last_name,
  :rtv_and_partner_name=>@registrant_rtv_and_partner_name,
  :registrant_rtv_and_partner_name=>@registrant_rtv_and_partner_name,
  :home_state_email_instructions => @home_state_email_instructions,
  :registrar_address=>@registrar_address,
  :cancel_reminders_url =>@cancel_reminders_url,
  :registrar_phone=> @registrar_phone,
  :registrar_url=>@registrar_url,
  :rtv_link=>@rtv_link,
  :rtv_url=>Nokogiri::HTML(@rtv_link).css('a').first['href'],
  :locale => @locale
).html_safe %>
</div>
