<div style="max-width: 700px; margin: 0 auto;">
<p>Hi <%= @name %>,</p>
<p>
Thank you for signing up for Rock the Vote's civic technology tools! We're so glad to have you join our community of companies, nonprofits, and activists nationwide who use Rock the Vote's platform to register and mobilize voters.
</p>
<p>
Our team will reach out soon with information on how to access your tools and Partner Portal. Thank you for your partnership in this important work!
</p>
<p></p>
<p>
- Rock the Vote
</p>
<p>
Note: Your civic technology partnership agreement contains important information about our Terms of Use. Rock the Vote reserves the right to discontinue access to your tool if there is a breach to the terms of your agreement.
</p>
</div>