<p>Hi <%= @name %>,</p>

<p>
Thank you for signing up for a Rock the Vote online voter registration tool! We're so glad to have you join our community of companies, nonprofits, and activists nationwide who use Rock the Vote's platform to register voters.
</p>

<p>
Please read Rock the Vote's <a href="<%= @tou_url %>">Terms of Use</a>, which outlines important information about fee structures for partners that register over 1,000 voters, restrictions on digital advertising, custom branding, and more. Rock the Vote reserves the right to discontinue access to your tool if there is a breach to our Terms of Use.
</p>

<p>
Thank you for your partnership in this important work! If you have any questions, please don't hesitate to reach out.
</p>
<p></p>
<p>
Melissa Wyatt
Associate Director of Civic Policy & Technology
</p>