<div style="max-width: 700px; margin: 0 auto;">
<%= I18n.t('email.abr.continue_on_device.body.main', 
  :home_state_email_instructions => @home_state_email_instructions,
  :abr_home_state_name => @abr_home_state_name,
  :registrar_address=>@registrar_address,
  :registrar_phone=>@registrar_phone,
  :state_abbr=>@state_abbr,
  :registrar_url=>@registrar_url, 
  :locale => @locale, 
  :signature_url=>@signature_url).html_safe %>
</div>