<style type="text/css">
<!--
.boxtext {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 22px;
  font-style: normal;
  line-height: 1.5em;
  font-weight: bolder;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}
.reminder-box {
  float: right;
  margin: 0 0 15px 15px; 
  width: 275px;
  border: 8px solid #cc0000;
  color:black;
  padding: 15px;
  display: block;
  box-sizing: border-box;
  height: fit-content !important;
}
.hr-line {
  border: none;
  height: 3px;
  background-color: black;
  margin: 20px 0;
}
@media screen and (max-width: 468px) {
  .reminder-box {
    margin: 0 0 20px 0;
    float: none;
    width: 100%;
  }
}
-->
</style>

<div style="max-width: 700px; margin: 0 auto;">
<%= I18n.t('email.abr.deliver_to_elections_office_confirmation.body.greeting', :abr_first_name=>@abr_first_name, :abr_last_name=>@abr_last_name, :locale => @locale).html_safe %> <br><br>

<%= I18n.t('email.abr.deliver_to_elections_office_confirmation.body.main', 
  :pdf_url=>@pdf_url, 
  :home_state_email_instructions => @home_state_email_instructions,
  :registrar_address=>@registrar_address,
  :elections_office_name=>@elections_office_name,
  :status_check_url => @status_check_url,
  :status_check_phone => @status_check_phone,
  :cancel_reminders_url=>@cancel_reminders_url,
  :registrar_phone=>@registrar_phone,
  :registrar_url=>@registrar_url, :locale => @locale).html_safe %>


<hr class="hr-line" size="3" align="left" width="100%" color="black">

<%= I18n.t('email.abr.deliver_to_elections_office_confirmation.body.footer', :locale => @locale).html_safe %>
</div>