<div style="max-width: 700px; margin: 0 auto;">
<%= I18n.t('email.abr.thank_you_external.body.main',
  :abr_first_name=>@abr_first_name,
  :abr_last_name=>@abr_last_name,
  :rtv_and_partner_name=>@abr_rtv_and_partner_name,
  :abr_rtv_and_partner_name=>@abr_rtv_and_partner_name,  
  :state_name=>@abr_home_state_name,
  :system_name=>@abr_home_state_system_name,
  :state_abbr=> @abr_home_state_abbrev,
  :registrar_phone=>@registrar_phone,
  :registrar_url=>@registrar_url, :locale => @locale
  ).html_safe %>

<hr style="border: none; height: 3px; background-color: white; margin: 23px 0 20px 0; width: 100%; border-top: 3px solid black;">

<%= I18n.t('email.abr.thank_you_external.body.send_to_friends', 
  :rtv_link=>@rtv_link,
  :abr_first_name=>@abr_first_name,
  :abr_last_name=>@abr_last_name, :locale => @locale
  ).html_safe %>

<hr style="border: none; height: 3px; background-color: white; margin: 23px 0 20px 0; width: 100%; border-top: 3px solid black;">

<%= I18n.t('email.abr.thank_you_external.body.footer', :locale => @locale).html_safe %> 
</div>