%p= I18n.t('states.custom.mi.skip_online_registration', url: skip_state_flow_registrant_path(@registrant)).html_safe

-#= rollover_button(:skip_online_registration, I18n.t('txt.button.submit').html_safe)  
-#= rollover_button(:skip_online_registration, I18n.t('txt.button.skip_online_registration').html_safe)  
