<script type="text/javascript">
  $(document).ready(function() {
    $("form").hide();
  })
  
  function showWiForm() {
    $("#choose-mi-wi").hide();
    $("form").show();
    
  }
  
</script>

<div class="special-zip-message" id="choose-mi-wi">
  <p><%= I18n.t('states.custom.mi.wi_zip.message')%></p>
  <ul>
    <li><a href="#" onClick="showWiForm();"><%= I18n.t('states.custom.mi.wi_zip.register_in_wi')%></a></li>
    <li><a href="https://www.michigan.gov/vote"><%= I18n.t('states.custom.mi.wi_zip.register_in_mi')%></a></li>
  </ul>
</div>

