<script type="text/javascript">
  $(document).ready(function() {
    $("form").hide();
    $("#finish-with-state").click(function() {
      setTimeout(function() {
        window.location.href = "<%= registrant_finish_path(@registrant, :share_only=>true, :finish_with_state=>true, :home_state=>"MI") %>";
      }, 1000)
    })
  })
  
  function showWiForm() {
    $("#choose-mi-wi").hide();
    $("form").show();
  }
  
</script>

<div class="special-zip-message" id="choose-mi-wi">
  <p><%= I18n.t('states.custom.mi.wi_zip.message')%></p>
  <ul>
    <li><a href="#" onClick="showWiForm();"><%= I18n.t('states.custom.mi.wi_zip.register_in_wi')%></a></li>
    <li><a id="finish-with-state" href="https://www.michigan.gov/vote" target="_blank"><%= I18n.t('states.custom.mi.wi_zip.register_in_mi')%></a></li>
  </ul>
</div>

