%p
  You've been added to the
  = @partner.organization
  organization on Rock The Vote. 

%p
  If you do not have an account yet, please visit the
  = link_to "log in page (#{login_url})", login_url
  and click "Forgot your password?" to set up your password.

%p
  If you already have an account, you will have access immediately.
