%p
  You've been added to the
  = @partner.organization
  Partner on Rock The Vote.

%p
  If you do not have an account with another Partner, please do a 
  = link_to 'password reset', new_password_reset_url
  to set up your password. 
  Do not forget to set up MFA (Multiple Factor Authentication) while creating your account.

%p
  If you already have an account with Rock the Vote, you will have access to
  = @partner.organization
  immediately on logging in.

