%p
  You've been added to the
  = @partner.organization
  organization on Rock The Vote. 
%p
  If you already have an account, you will have access immediately.
  If you do not have an account yet, you will receive a separate password reset email shortly.