#form_header {
  margin-bottom: 22px;
  &:after {
    clear: both;
    display: block;
    content: " ";
  }
}
#progress-bar {
  float: right;
  li {
    float: left;
    width: 27px;
    height: 22px;
    margin: 0 2px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    line-height: 23px;
    
    background-repeat: no-repeat;
    &.progress-title {
      padding-right: 5px;
      font-size: 12px;
      min-width: 50px;
    } 
    &.progress-done {
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      background-color: #94e71e;
      background-image: none;
      border-bottom-color: #ccc;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-image-outset: 0 0 0 0;
      border-image-repeat: stretch stretch;
      border-image-slice: 100% 100% 100% 100%;
      border-image-source: none;
      border-image-width: 1 1 1 1;
      border-left-color: #ccc;
      border-left-style: solid;
      border-left-width: 1px;
      border-right-color: #ccc;
      border-right-style: solid;
      border-right-width: 1px;
      border-top-color: #ccc;
      border-top-style: solid;
      border-top-width: 1px;
      border-radius: 4px;
    }
    &.progress-current {
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      background-color: #eeeeee;
      background-image: none;
      border-bottom-color: #ccc;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-image-outset: 0 0 0 0;
      border-image-repeat: stretch stretch;
      border-image-slice: 100% 100% 100% 100%;
      border-image-source: none;
      border-image-width: 1 1 1 1;
      border-left-color: #ccc;
      border-left-style: solid;
      border-left-width: 1px;
      border-right-color: #ccc;
      border-right-style: solid;
      border-right-width: 1px;
      border-top-color: #ccc;
      border-top-style: solid;
      border-top-width: 1px;
      border-radius: 4px;
    }
    &.progress-todo {
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      background-color: #c7c7c7;
      background-image: none;
      border-bottom-color: #ccc;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-image-outset: 0 0 0 0;
      border-image-repeat: stretch stretch;
      border-image-slice: 100% 100% 100% 100%;
      border-image-source: none;
      border-image-width: 1 1 1 1;
      border-left-color: #ccc;
      border-left-style: solid;
      border-left-width: 1px;
      border-right-color: #ccc;
      border-right-style: solid;
      border-right-width: 1px;
      border-top-color: #ccc;
      border-top-style: solid;
      border-top-width: 1px;
      border-radius: 4px;
    }
  }
}

