@import "_base";

span.error {
  white-space: normal;
}

span.error, .flat span.error {
  min-height: 24px;
  height: auto;
}

#main {
  form {
    ul {
      li {
        &.registrant-form__home-address-number__line {
          width: 20%;
          margin-right: 5%;
        }
        &.registrant-form__home-address-street-name__line {
          width: 50%;
          margin-right: 5%;
        }
        &.registrant-form__home-address-street-type__line {
          width: 20%;
        }
        &.registrant-form__home-address-unit-number__line {
          width: 70%;
          margin-right: 30%;
        }
        &.registrant-form__home-address-box-group__line, &.registrant-form__home-address-box-group-id__line, &.registrant-form__home-address-box-group-number__line {
          width: 30%;
          margin-right: 5%;
        }
        &.registrant-form__home-address-box-group-number__line {
          margin-right: 0;
        }
        
      }
    }
    #mailing_address_international {
      ul {
        li {
          &.registrant-form__home-zip-code__line {
            margin-right: 5%;
            width: 25%;
          } 
          &.registrant-form__home-country__line {
            width: 70%;
            margin-right: 0;
          } 
        }
      }
    }
  }
}