@import "_base";

span.error {
  white-space: normal;
}

span.error, .flat span.error, .stacked span.error {
  min-height: 24px;
  height: auto;
  line-height: 16px;
}

ul.mi-address-options {
  font-size: 16px;
  line-height: 1.4em;
  li {
    margin: 1.5em 0;
    float: none;
    display: flex;
  }
}

#main {
  form {
    ul {
      li {
        &.registrant-form__home-address-number__line {
          width: 22%;
          margin-right: 3%;
        }
        &.registrant-form__home-address-street-name__line {
          width: 42%;
          margin-right: 3%;
        }
        &.registrant-form__home-address-street-type__line {
          width: 14%;
          margin-right: 3%;
        }
        &.registrant-form__home-address-post-directional__line {
          width: 13%;
        }
        &.registrant-form__home-address-unit-number__line {
          width: 70%;
          margin-right: 30%;
        }
        &.registrant-form__home-address-box-group__line, &.registrant-form__home-address-box-group-id__line, &.registrant-form__home-address-box-group-number__line {
          width: 30%;
          margin-right: 5%;
        }
        &.registrant-form__home-address-box-group-number__line {
          margin-right: 0;
        }
        
      }
    }
    #mailing_address_international {
      ul {
        li {
          &.registrant-form__home-zip-code__line {
            margin-right: 5%;
            width: 25%;
          } 
          &.registrant-form__home-country__line {
            width: 70%;
            margin-right: 0;
          } 
        }
      }
    }
    ul.radio {
      li {
        h3 {
          float: none;
          text-align: left;
          width: auto;
          color: #757575;
          height: auto;
          font-size: 16px;
          line-height: 1.4em;
          margin: 1em 0;
        }
      }
    }
    .radio-buttons {
      label {
        display: block;
        height: 40px;
        input {
          display: inline-block;
          width: auto;
          height: 1em;
          margin-right: 5px;
          margin-left: 20px;
        }
      }
    }
  }
}