#form_header {
  margin-bottom: 22px;
  &:after {
    clear: both;
    display: block;
    content: " ";
  }
}
#progress-bar {
  float: right;
  li {
    float: left;
    width: 27px;
    height: 22px;
    margin: 0 2px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    line-height: 23px;
    
    background-repeat: no-repeat;
    &.progress-title {
      padding-right: 5px;
      font-size: 12px;
      min-width: 50px;
    } 
    &.progress-done {
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      background-color: #94e71e;
      background-image: none;
      border-bottom-color: #ccc;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-image-outset: 0 0 0 0;
      border-image-repeat: stretch stretch;
      border-image-slice: 100% 100% 100% 100%;
      border-image-source: none;
      border-image-width: 1 1 1 1;
      border-left-color: #ccc;
      border-left-style: solid;
      border-left-width: 1px;
      border-right-color: #ccc;
      border-right-style: solid;
      border-right-width: 1px;
      border-top-color: #ccc;
      border-top-style: solid;
      border-top-width: 1px;
      border-radius: 4px;
    }
    &.progress-current {
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      background-color: #eeeeee;
      background-image: none;
      border-bottom-color: #ccc;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-image-outset: 0 0 0 0;
      border-image-repeat: stretch stretch;
      border-image-slice: 100% 100% 100% 100%;
      border-image-source: none;
      border-image-width: 1 1 1 1;
      border-left-color: #ccc;
      border-left-style: solid;
      border-left-width: 1px;
      border-right-color: #ccc;
      border-right-style: solid;
      border-right-width: 1px;
      border-top-color: #ccc;
      border-top-style: solid;
      border-top-width: 1px;
      border-radius: 4px;
    }
    &.progress-todo {
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      background-color: #c7c7c7;
      background-image: none;
      border-bottom-color: #ccc;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-image-outset: 0 0 0 0;
      border-image-repeat: stretch stretch;
      border-image-slice: 100% 100% 100% 100%;
      border-image-source: none;
      border-image-width: 1 1 1 1;
      border-left-color: #ccc;
      border-left-style: solid;
      border-left-width: 1px;
      border-right-color: #ccc;
      border-right-style: solid;
      border-right-width: 1px;
      border-top-color: #ccc;
      border-top-style: solid;
      border-top-width: 1px;
      border-radius: 4px;
    }
  }
}

.flash {
  width: 100%;
  margin: 10px auto;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: bold;
  text-align: center;
  li {
    list-style: none;
    margin: 0;
    padding: 8px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-color: blue;
    background-color: #ddf;
  }
}

#main {
  p.instructions {
    margin-top: 0;
  }
  
  
  
  .step_4 {
    h1 {
      text-transform: none;
      display: inline;
      font-size: 18px;
      color: black;
      background: transparent;
      padding: 0;
      width: auto;
      margin: 0;
    }
  }
  form {
    #signature_capture {
      margin-top: 20px;
    }
    
    #signature_capture, #signature_capture2, #continue_on_device {
      display: none;        
    }
    
    #signature_upload {
      margin-top: 1em;      
    }
    
    #signature_field_popup {
      display: none;
      background: white;
      z-index: 10;
      position: fixed;
      top: 0px;
      left: 0;
      bottom: 0;
      right: 0;
      #signature_field {
        margin-top: 20px;
      }
      .signature_capture_insructions {
        display: none;
      }
      @media screen and (orientation: portrait) {
        transform: rotate(90deg);
        width: 100vh;
        height: 100vw;
        transform-origin: left top;
        left: 100%;
        #signature_field {
          height: 33vh;
          width: 100vh;          
        }
        .signature_capture_insructions {
          display: block;
          position: absolute;
          bottom: 0;
          top: 0;
          left: 0;
          right: 0;
          padding: 00px;
          text-align: center;
          background: rgba(255,255,255,.8);
          span {
            font-size: 20px;
            line-height: 1.6em;
            transform: rotate(-90deg) translateX(0) translateY(50%);
            display: block;
            padding: 20px;
            width: 100vw;
            height: 100vw;
          }
        }
      }
      .signature_done, .signature_clear {
        margin: 1em;
      }
      .signature_done {
        float: right;
      }
      .signature_clear {
        font-size: 16px;
        cursor: pointer;
        float: left;
      }
    }
    
    #signature_field {
      border: 1px solid #ccc; 
      //width: 362px;
      //height: 122px;
      height: 33vw;
      width: 100vw;
    }
    #signature_preview {
      img.preview {
        border: 1px solid #ccc;
      }
    }
    
    #signature-cropper, #continue_on_device {
      display: none;
      padding-left: 40px;
    }

    #signature-cropper {
      .cropit-preview {
        display: none;
        border: 1px solid #ccc;
        width: 362px;
        height: 122px;
        cursor: move;
        &.cropit-image-loaded {
          display: block;
        }
      }
      .cropit-image-zoom-input {
        width: 360px;
      }
    }
    
    fieldset.phone {
      margin-top: 2em;
    }
    
    ul, ul.flat {
      li.registrant-form__date-of-birth__line {
        width: 130px;
      }
      li.registrant-form__home-address__line {
        width: 100%;
      }
      li.registrant-form__home-unit-type__line {
        width: 50%;
        margin-right: 5%;
      }
      li.registrant-form__home-unit-number__line {
        width: 45%;
      }
      li.registrant-form__penndot-number__line, li.registrant-form__ssn4__line {
        .error {
          height: auto;
          line-height: 1.5em;
          white-space: normal;
          padding: .5em 0;
        }
      }
      li.registrant-form__penndot-number__line {
        width: auto;
        input {
          width: auto;
        }
      }
      li.registrant-form__ssn4__line {
        margin-top: 2em;
        width: auto;
        input {
          width: auto;
        }
      }
    }
    ul.party-dropdown, ul.race-dropdown, ul.other-party {
      width: 100%;
      float: none;
      li, li.registrant-form__race__line {
        width: 100%;
        margin-right: 0;
      }
    }
  }
}

.declaration-text {
  border: 1px solid #e6e6e6;
  background: #f6f6f6;
  padding: 15px;
  strong {
    font-size: 20px;
    font-weight: bold;
  }
}
