@import 'base';

#main {
  

  form {
    ul.radio {
      li {
        h3 {
          float: none;
          text-align: left;
          width: auto;
          color: #757575;
          height: auto;
          font-size: 16px;
          line-height: 1.4em;
          margin: 1em 0;
        }
      }
    }
    .radio-buttons {
      label {
        display: block;
        height: 40px;
        input {
          display: inline-block;
          width: auto;
          height: 1em;
          margin-right: 5px;
          margin-left: 20px;
        }
      }
    }

    
    ul, ul.flat {
      li.registrant-form__penndot-number__line, li.registrant-form__ssn4__line {
        .error {
          height: auto;
          line-height: 1.5em;
          white-space: normal;
          padding: .5em 0;
        }
      }
      li.registrant-form__penndot-number__line {
        width: auto;
        input {
          width: auto;
        }
      }
    }    
  }
  #request_abr_set .address-display {
    font-size: 14px;
    line-height: 1.6em
  }
}

.declaration-text {
  border: 1px solid #e6e6e6;
  background: #f6f6f6;
  padding: 15px;
  strong {
    font-size: 20px;
    font-weight: bold;
  }
}
