.state-pa {

  #main_inner {
    

    form {
      
      ul, ul.flat {
        li {
          &.registrant-form__home-address__line {
            width: 100%;
            margin-right: 0;
          }

          &.registrant-form__home-unit-type__line {
            width: calc(50% - #{$mr});
            margin-right: $mr;
          }
          &.registrant-form__home-unit-number__line {
            width: 50%;
          }

          &.registrant-form__penndot-number__line, li.registrant-form__ssn4__line {
            .error {
              height: auto;
              line-height: 1.5em;
              white-space: normal;
              padding: .5em 0;
            }
          }
          &.registrant-form__penndot-number__line {
            width: auto;
            input {
              width: auto;
            }
          }

        }
        
      }    
    }
  }

}
