@import 'base';

.state-pa {

  #main {
    

    form {
      
      ul, ul.flat {
        li.registrant-form__penndot-number__line, li.registrant-form__ssn4__line {
          .error {
            height: auto;
            line-height: 1.5em;
            white-space: normal;
            padding: .5em 0;
          }
        }
        li.registrant-form__penndot-number__line {
          width: auto;
          input {
            width: auto;
          }
        }
      }    
    }
  }

  .declaration-text {
    border: 1px solid #e6e6e6;
    background: #f6f6f6;
    padding: 15px;
    strong {
      font-size: 20px;
      font-weight: bold;
    }
  }
}
