#form_header {
  margin-bottom: 22px;
  &:after {
    clear: both;
    display: block;
    content: " ";
  }
}

#progress-bar {
  float: right;
  li {
    float: left;
    width: 27px;
    height: 22px;
    margin: 0 2px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    line-height: 23px;
    
    background-repeat: no-repeat;
    &.progress-title {
      padding-right: 5px;
      font-size: 12px;
      min-width: 50px;
    } 
    &.progress-done {
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      background-color: #94e71e;
      background-image: none;
      border-bottom-color: #ccc;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-image-outset: 0 0 0 0;
      border-image-repeat: stretch stretch;
      border-image-slice: 100% 100% 100% 100%;
      border-image-source: none;
      border-image-width: 1 1 1 1;
      border-left-color: #ccc;
      border-left-style: solid;
      border-left-width: 1px;
      border-right-color: #ccc;
      border-right-style: solid;
      border-right-width: 1px;
      border-top-color: #ccc;
      border-top-style: solid;
      border-top-width: 1px;
      border-radius: 4px;
    }
    &.progress-current {
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      background-color: #eeeeee;
      background-image: none;
      border-bottom-color: #ccc;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-image-outset: 0 0 0 0;
      border-image-repeat: stretch stretch;
      border-image-slice: 100% 100% 100% 100%;
      border-image-source: none;
      border-image-width: 1 1 1 1;
      border-left-color: #ccc;
      border-left-style: solid;
      border-left-width: 1px;
      border-right-color: #ccc;
      border-right-style: solid;
      border-right-width: 1px;
      border-top-color: #ccc;
      border-top-style: solid;
      border-top-width: 1px;
      border-radius: 4px;
    }
    &.progress-todo {
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      background-color: #c7c7c7;
      background-image: none;
      border-bottom-color: #ccc;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-image-outset: 0 0 0 0;
      border-image-repeat: stretch stretch;
      border-image-slice: 100% 100% 100% 100%;
      border-image-source: none;
      border-image-width: 1 1 1 1;
      border-left-color: #ccc;
      border-left-style: solid;
      border-left-width: 1px;
      border-right-color: #ccc;
      border-right-style: solid;
      border-right-width: 1px;
      border-top-color: #ccc;
      border-top-style: solid;
      border-top-width: 1px;
      border-radius: 4px;
    }
  }
}


#main {
  .step_4 {
    h1 {
      text-transform: none;
      display: inline;
      font-size: 18px;
      color: black;
      background: transparent;
      padding: 0;
      width: auto;
      margin: 0;
    }
  }
  
  form {
    ul.checkbox {
      li {
        margin-bottom: .5em;
        h3 {
          height: auto;
        }
      }
    }
    ul.radio {
      li {
        h3 {
          float: none;
          text-align: left;
          width: auto;
          color: #757575;
          height: auto;
          font-size: 16px;
          line-height: 1.4em;
          margin: 1em 0;
        }
      }
    }
    .radio-buttons {
      label {
        display: block;
        height: 40px;
        input {
          display: inline-block;
          width: auto;
          height: 1em;
          margin-right: 5px;
          margin-left: 20px;
        }
      }
    }
    fieldset.phone {
      margin-top: 2em;
    }
    ul {
      li.registrant-form__required-checkbox {
        width: 90%;
      }
      
      li.registrant-form__date-of-birth__line {
        width: 100% !important;
      }
      li.registrant-form__home-address__line {
        width: 100%;
      }
      li.registrant-form__ssn__line,  li.registrant-form__dln__line {
        margin-top: 2em;
        @media(max-width: 600px) {
          h3 {
            height: 50px;
          }          
        }
        .error {
          height: auto;
          line-height: 1.5em;
          white-space: normal;
          padding: .5em 0;
        }
        width: auto;
        div input {
          width: auto;
        }
      }
    }
    
  }
}

#main p.notice {
  line-height: 1.6em;
  font-size: 14px;
}

.declaration-text {
  strong {
    font-weight: bold;
  }
}
