sponsor:
  allow_ask_for_volunteers: false
  barcode_prefix: "RTV"
  name: "Rock the Vote"
  url: "http://www.rockthevote.com"
  facebook_callback_url: <%= CGI.escape("http://www.rockthevote.com/register/fb") %>
  partner_signup_url: "http://www.rockthevote.com/partner"
  footer_link_base_url: "http://www.rockthevote.com/voter-registration/online-application-system"
  footer_copyright: "&copy; Copyright %d, Rock the Vote"
  partner_comarketing_text: |
    Numbers not as high as you'd like?
    <a href="http://www.rockthevote.com/partner/how-to-get-it-out-there.html" target="_blank">Here are some ways to help market your tool.</a>

from_address: "rocky@example.com"
default_url_host: "register.example.com"
ui_url_host: "register5.example.com"


# this URL (if present) is shown as a WIKI nav menu item in the Partner portal
partner_wiki_url: "http://wiki.rockthevote.com"

admin:
  from_address: "alex.mekelburg@osetfoundation.org"
  admin_recipients: "errors@rockthevote.com, alex.mekelburg@osetfoundation.org"
  translation_recipients: "david@rockthevote.com, alex.mekelburg@osetfoundation.org"

admin_username: 'admin'
widget_js_url:  'https://s3.amazonaws.com/ovr/widget_loader.js'

use_https: true
paperclip_options: 
  storage: "fog"
  path: ":rails_root/public/system/:attachment/:id/:style/:filename"
  url: "/system/:attachment/:id/:style/:filename"

mobile_redirect_url: https://register2.rockthevote.com
mobile_browsers:
  - mobile
  - webos
  - blackberry
  - iphone
  
widget_loader_url: https://s3.amazonaws.com/ovr/widget_loader.js
hours_before_first_reminder: 120
hours_between_first_and_second_reminder: 72
hours_between_second_and_final_reminder: 72
minutes_before_abandoned: 30
ui_timeout_minutes: 30
pdf_expiration_days: 14
pdf_no_email_expiration_minutes: 10
partner_csv_expiration_minutes: 30

  
ovr_states:
  AZ:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es    
  CA:
    redirect_to_online_reg_url: true
    api_settings:
      api_url: https://covrapitest.sos.ca.gov/PostingEntityInterfaceService.svc
      api_key: <%= ENV['CA_API_KEY'] %>
      api_posting_entity_name: RTV
      debug_in_ui: false
      log_all_requests: false
      disclosures_url: https://a8e83b219df9c88311b3-01fbb794ac405944f26ec8749fe8fe7b.ssl.cf1.rackcdn.com/discl/
      web_url_base: https://covrtest.sos.ca.gov
      web_agency_key: RTV
      custom_error_string: CUSTOM_COVR_ERROR
    languages:
      - en
      - es
      - zh-tw
      - vi
      - ko
      - tl
      - ja
      - hi
      - km
      - th
  LA:
    redirect_to_online_reg_url: true
    languages:
      - en
  MN:
    redirect_to_online_reg_url: true
    languages:
      - en
  NV:
    redirect_to_online_reg_url: true
    languages:
      - en
  WA:
    redirect_to_online_reg_url: true
    languages:
      - en
  AK:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  AL:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  CO:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  CT:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  DC:
    redirect_to_online_reg_url: true
    languages:
      - en    
  DE:
    redirect_to_online_reg_url: true
    languages:
      - en    
  GA:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  HI:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  IL:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  IN:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  IA:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  KS:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  KY:
    redirect_to_online_reg_url: true
    languages:
      - en
  MA:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  MD:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  MO:
    redirect_to_online_reg_url: true
    languages:
      - en
  NE:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  NM:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  NY:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  OR:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  PA:
    api_settings:
      api_url: "https://paovrwebapi.votespa.com/SureOVRWebAPI/api/ovr?JSONv2&sysparm_AuthKey=<%= ENV['PA_API_KEY'] %>&sysparm_action=SETAPPLICATION&sysparm_Language=0"
      api_key: <%= ENV['PA_API_KEY'] %>
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  SC:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  UT:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  VT:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  VA:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  WV:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es

  
enabled_locales:
  - en
  - es


  

pdf:
  nvra:
    page1:
      default_logo: 'pdf/rtvlogo.gif'
      other_block:
        instructions_url: "http://www.rockthevote.com/registration/instructions/<STATE>-<LOCALE>.html"
  
