sponsor:
  allow_ask_for_volunteers: true
  barcode_prefix: "RTV"
  name: "Rock the Vote"
  url: "https://www.rockthevote.org"
  facebook_callback_url: <%= CGI.escape("https://www.rockthevote.org/register-to-vote/?source=fb") %>
  partner_signup_url: "https://www.rockthevote.org/resources/online-voter-registration-tool/"
  footer_link_base_url: "https://www.rockthevote.org/voter-registration/online-application-system"
  footer_copyright: "&copy; Copyright %d, Rock the Vote"
  partner_comarketing_text: |
    Numbers not as high as you'd like?
    <a href="https://www.rockthevote.org/resources/online-voter-registration-tool/" target="_blank">Here are some ways to help market your tool.</a>

from_address: "rocky@example.com"
default_url_host: "register.example.com"
ui_url_host: "register5.example.com"


# this URL (if present) is shown as a WIKI nav menu item in the Partner portal
partner_wiki_url: "http://wiki.rockthevote.com"

admin:
  from_address: "alex.mekelburg@osetfoundation.org"
  branding_from: "Rock the Vote <info@rockthevote.com>"
  branding_to: "david@rockthevote.com, jen@rockthevote.com, melissa@rockthevote.com"
  partner_status_to: "david@rockthevote.com, jen@rockthevote.com, melissa@rockthevote.com, alex.mekelburg@osetfoundation.org"
  admin_recipients: "errors@rockthevote.com, alex.mekelburg@osetfoundation.org"
  translation_recipients: "david@rockthevote.com, alex.mekelburg@osetfoundation.org"

admin_username: 'admin'
widget_js_url:  'https://s3.amazonaws.com/ovr/widget_loader.js'

use_https: true
paperclip_options: 
  storage: "fog"
  path: ":rails_root/public/system/:attachment/:id/:style/:filename"
  url: "/system/:attachment/:id/:style/:filename"

mobile_redirect_url: https://register.rockthevote.com
mobile_browsers:
  - mobile
  - webos
  - blackberry
  - iphone
  
widget_loader_url: https://s3.amazonaws.com/ovr/widget_loader.js
hours_before_first_reminder: 24
hours_between_first_and_second_reminder: 24
hours_between_second_and_final_reminder: 48
minutes_before_abandoned: 30
# hours_before_first_reminder: 1
# hours_between_first_and_second_reminder: 1
# hours_between_second_and_final_reminder: 1
# minutes_before_abandoned: 30
ui_timeout_minutes: 30
pdf_expiration_days: 14
pdf_no_email_expiration_minutes: 10
partner_csv_expiration_minutes: 30

  
ovr_states:
  AZ:
    redirect_to_online_reg_url: true
    require_id: false
    languages:
      - en
      - es    
  CA:
    redirect_to_online_reg_url: true
    api_settings:
      api_url: https://covrapi.sos.ca.gov/PostingEntityInterfaceService.svc
      api_key: <%= ENV['CA_API_KEY'] %>
      api_posting_entity_name: RTV
      debug_in_ui: false
      log_all_requests: false
      disclosures_url: https://covr.cdn.sos.ca.gov/discl/
      web_url_base: https://covr.sos.ca.gov
      disclosures_box_height: 170px
      web_agency_key: RTV
      custom_error_string: CUSTOM_COVR_ERROR
    require_age_confirmation: false
    require_id: false
    languages:
      - en
      - es
      - zh-tw
      - vi
      - ko
      - tl
      - ja
      - hi
      - km
      - th
  LA:
    redirect_to_online_reg_url: true
    languages:
      - en
  MN:
    redirect_to_online_reg_url: true
    require_id: false
    languages:
      - en
  NV:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  AK:
    redirect_to_online_reg_url: true
    languages:
      - en
  AL:
    redirect_to_online_reg_url: true
    languages:
      - en
  CO:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  CT:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  DC:
    redirect_to_online_reg_url: true
    languages:
      - en
  DE:
    redirect_to_online_reg_url: true
    require_age_confirmation: true
    require_id: false
    languages:
      - en
  FL:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  GA:
    redirect_to_online_reg_url: true
    languages:
      - en
  HI:
    redirect_to_online_reg_url: true
    languages:
      - en
  IL:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  IN:
    redirect_to_online_reg_url: true
    languages:
      - en
  IA:
    redirect_to_online_reg_url: true
    languages:
      - en
  ID:
    redirect_to_online_reg_url: true
    languages:
      - en
  KS:
    redirect_to_online_reg_url: false # We have ks.html.erb that takes care of the redirect
    require_id: false
    languages:
      - en
  KY:
    redirect_to_online_reg_url: true
    languages:
      - en
  MA:
    redirect_to_online_reg_url: true
    languages:
      - en
  MD:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  MO:
    redirect_to_online_reg_url: true
    require_age_confirmation: true
    require_id: false
    languages:
      - en
  NE:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  NM:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  NY:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  OH:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  OR:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  PA:
    require_age_confirmation: true
    registration_deadline: 2019-05-21 # Must be YYYY-MM-DD format!
    api_settings:
      api_url: "https://paovrwebapi.votespa.com/SureOVRWebAPI/api/ovr?JSONv2&sysparm_AuthKey=<%= ENV['PA_API_KEY'] %>&sysparm_action=SETAPPLICATION&sysparm_Language=0"
      api_key: <%= ENV['PA_API_KEY'] %>
      canvassing_session_timeout_minutes: 1440
      canvassing_validation_timeout_minutes: 2880
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  RI:
    redirect_to_online_reg_url: true
    languages:
      - en
      - es
  SC:
    redirect_to_online_reg_url: true
    languages:
      - en
  TN:
    redirect_to_online_reg_url: true
    require_age_confirmation: true
    require_id: false
    languages:
      - en
  UT:
    redirect_to_online_reg_url: true
    languages:
      - en
  VT:
    require_age_confirmation: true
    redirect_to_online_reg_url: true
    require_id: false
    languages:
      - en
  VA:
    redirect_to_online_reg_url: true
    languages:
      - en
    api_settings:
        api_url: "https://externalapi.elections.virginia.gov/v2"
        api_username: "RockTheVote"
        api_key: <%= ENV['VA_API_KEY'] %>
  WA:
    redirect_to_online_reg_url: true
    languages:
      - en
  WV:
    redirect_to_online_reg_url: true
    languages:
      - en
  WI:
    redirect_to_online_reg_url: true
    languages:
      - en

enabled_locales:
  - en
  - es

pdf:
  nvra:
    page1:
      default_logo: 'pdf/rtvlogo.gif'
      other_block:
        instructions_url: "https://www.rockthevote.org/registration/instructions/<STATE>-<LOCALE>.html"
  
