.al-abr-form-fields {
  li {
    &.drivers_license_state {
      width: 40%;
      margin-right: 2%;
    }
    &.drivers_license_number {
      width: 58%;
    }
    &.city_1 {
      width: 46%;
      margin-right: 2%;
    }
    &.state_1 {
      width: 25%;
      margin-right: 2%;
    }
    &.zip_1 {
      width: 25%;
    }
  }
}
