.oh-abr-form-fields {
  li {
    &.cityvillage_2 {
      width: 46%;
      margin-right: 2%;
    }
    &.state {
      width: 25%;
      margin-right: 2%;
    }
    &.zip_2 {
      width: 25%;
    }
  }
}
