    
  <%= render :partial=> "registrants/state_id_number", :locals=>{:form=>form} %>

  <%= render :partial=> "registrants/race_and_party", :locals=>{:form=>form} %>
  
      <div class='clear-fix'></div>
