
#header .header-text 
{
    font-size:36px;
}

.finish_instructions ol > li 
{
    color: #666;
    list-style:decimal;
}

.status_check {
    padding:10px;
}
/* Select2 Overrides */

.select2-search--dropdown .select2-search__field 
{
    font-size:16px;
}
.select2-results__option 
{
    font-size:16px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered
 {
     line-height:38px;
 }

.select2-container .select2-selection--single 
{
    height:38px;
}

