@import '_partner_whitelabel';

#container {
  width: 720px;
  background: #ddd image-url('partner/content_bg.gif') repeat-x top left;
}
#sticky_footer { width: 720px; }
#footer        { width: 700px; }

strong {
  font-weight: bold;
}

.flash {
  width: 100%;
  margin: 10px auto;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.flash li {
  list-style: none;
  margin: 0;
  padding: 8px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.flash li {
  border-color: blue;
  background-color: #ddf;
}

.flash li.flash-warning {
  border-color: red;
  background-color: #fdd;
}

.bold {
  font-weight: bold;
}

#main p {
  margin: 0.5em 0;
}

#main a:hover {
  color: #f33;
}


#header {
  position: relative;
  width: 100%;
  background: #ddd image-url('partner/header_bg.jpg') no-repeat top left;
}

#header {
  background-color: #fbfbfb;
  height: 160px
}
#header > p {
  text-align: center;
  width: 100%
}
#header p {
  left: 0px
}

#header p {
    font-size: 17px;
    text-align: center
}
#header p a:first-child {
    margin-left: 0
}

#header.not_logged_in {
  background-image: image-url('partner/header_not_logged_in_bg.jpg');
}

#header a:link    { color: #b42225; }
#header a:visited { color: #b42225; }
#header a:hover   { color: #000000; }
#header a:active  { color: #000000; }

#header span {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 13px;
  font-weight: bold;
  &.edit-profile-link {
    right: 75px;
  }
}



#header span a:link    { color: #b42225; }
#header span a:visited { color: #b42225; }
#header span a:hover   { color: #FFFFFF; }
#header span a:active  { color: #FFFFFF; }


#header p {
  position: absolute;
  bottom: 0px;
  &.partner-name {
    bottom: 32px;
    font-size: 30px;
    line-height: 32px;
    color: black;
    a {
      font-size: .6em;
      text-transform: none;
      font-weight: normal;  
    }
  }
}

#header p, #customize_nav p {
  font-weight: bold;
  color: #909090;
}

#header p a {
  zoom: 1;
  margin: 0 0.25em;
  text-transform: uppercase;
}

#main {
  zoom: 1;
  background: none;
  overflow: auto;
  padding-bottom: 40px;
}

#main_inner {
  position: relative;
  padding: 10px 20px 20px 20px;
}

#header a:link.current,
#header a:visited.current,
#main   a:link.current,
#main   a:visited.current {
  color: #000000;
}

h1 {
  margin: 0.5em 0 1em 0;
}

h2, h3 {
  margin-top: 15px;
}

p {
  font-size: 14px;
}

#main p.extra_leading {
  margin-top: 1.5em;
}

#main p {
  line-height: 1.4em;
}

.text p {
  margin: 1em 0;
  font-size: 13px;
}

.text {
  margin: 1em 0;
}


/*** dashboard ***/

#dashboard {
  width: 625px;
  margin: 40px auto;
  overflow: hidden;
}

#dashboard .stats {
  width: 100%;
}

#dashboard #dash_right {
  float: right;
}

#customizations li {
  font-size: 13px;
  margin: 0.7em 1.5em;
}

#customizations a       { color: #000000; }
#customizations a:hover { color: #B42225; }

#dash_left, #dash_right {
  position: relative;
 /*  height: 240px; */
  padding-bottom: 8px;
  width: 295px;
}


/*** forms ***/

div.login {
  margin-top: 30px;
}

.login form {
  position: relative;
  width: 280px;
  margin: 0 auto;
}

.login form fieldset ul {
  margin-left: 18px;
}

.login .stacked span.error {
  width: 228px;
  white-space: normal;
  height: auto;
}

span.error {
  white-space: normal;
  height: auto;
}

#main .login p {
  margin: 10px 0 10px 18px;
}

.profile {
  margin-top: 25px;
}

.profile form {
  position: relative;
  width: 560px;
  margin: 0 auto;
}

form.form_downloadcsv, div.form_downloadcsv {
  overflow: hidden;
  display: block;
  position: relative;
  padding: 0;
  fieldset {
    padding: 10px 20px;
  }
  .date_inputs {
    overflow: hidden;
  }
  .date_input {
    float: left;
    width: 50%;
    label {
      display: block;
    }
  }
  .csv_type_input {
    margin: 1em 0;
  }
  .submit_button {
    padding-top: 15px;
    float: left;
    width: 33.3%;
    div.button {
      margin: 0;
      text-align: left;
    }
  }
}


fieldset {
  margin: 10px 0;
  border: 1px solid #ccc;
  padding: 5px;
}

.profile fieldset {
  padding: 10px 20px;
}

legend {
  padding: 0 5px;
  line-height: 17px;
}

ul {
  margin: 1em 0;
}

li {
  font-size: 14px;
  list-style: disc;
  margin: 0.5em 2em;
}

form li {
  list-style: none;
  margin: 0 5px 0 0;
}

ul.clear li {
  list-style: disc;
  line-height: 1.5;
  margin: 0.5em 2em;
}

.copy_html h3 {
  font-weight: normal;
  text-align: left;
  line-height: 125%;
  margin: 10px;
}

.copy_html textarea {
  padding: 1em;
  font-family: Menlo, Courier, "Courier New", monospace;
  font-size: 11px;
  width: 95%;
}

.wrapper {
  position: relative;
}

/* all subnav customize pages */

.customize {
  overflow: hidden;
}

/* survey questions */

#survey_questions fieldset {
  margin-top: 20px;
}

#survey_questions fieldset p {
  margin-left: 10px;
}

/* upload partner logo */

#upload_logo {
  overflow: hidden;
}

#upload_logo .sample {
  float: right;
  padding: 10px 20px;
}

#upload_logo .logo {
  width: 313px;
  height: 69px;
  margin: 10px 2px;
  background: white image-url('partner/logo_frame.png') no-repeat top left;
}

#upload_logo .logo img {
  position: relative;
  width: 75px;
  height: 45px;
  top: 12px;
  left: 20px;
}

#upload_logo .logo p {
  position: relative;
  width: 65px;
  height: 35px;
  top: 12px;
  left: 20px;
  padding: 5px;
  color: red;
  font-size: 11px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  background: white;
}

#upload_logo h3 {
  margin-bottom: 15px;
}

#upload_logo div.button {
  margin: 15px 0;
  width: 137px;
}

/*** select widget image ***/

#choose_widget fieldset {
  width: 570px;
  margin: 20px auto;
}

#choose_widget th, #choose_widget td {
  padding: 10px;
}

#choose_widget th {
  vertical-align: middle;
}

#choose_widget th input {
  margin: 0;
}

#choose_widget td label {
  font-size: 14px;
  line-height: 18px;
}

#choose_widget td em {
  position: relative;
  left:   4px;
  bottom: 4px;
  color: #909090;
  font-size: 11px;
  font-weight: bold;
}

/*** embed code ***/

#main .copy_html div {
  margin: 20px 0;
  border: 1px solid #aaaaaa;
  padding: 5px 10px;
  background-color: #cccccc;
}

#main .copy_html h2,
#main .copy_html p {
  margin: 5px 0;
}

#main .copy_html object {
  position: relative;
  top: 2px;
  left: 4px;
}

#main .copy_html p {
  text-align: center;;
}

/*** statistics page ***/

#main .top_leading {
  margin-top: 20px;
}

#statistics {
  margin: 0 auto;
}

#statistics div {
  width: 300px;
  margin: 20px;
}

.stats {
  margin-bottom: 20px;
  width: 275px;
  font-size: 13px;
}

.stats table {
  border: 1px solid #c0c0c0;
  width: 100%;
}

.report-table {
  width: 100%;
}

table.report-table {
  th {
    font-size: 1.3em;
  }
  th, td {
    padding: 5px 8px;
    border-bottom: 1px solid #ccc;
  }
  tr {
    td {
      font-weight: bold;
    }
    &.failed {
      td {
        font-weight: normal;
        color: red;        
      }
    }
    &.complete {
      td {
        font-weight: normal;        
      }
    }
    &:hover {
      td {
        background: #eee;
      }
    }
  }
}

td#left_column, td#right_column {
  vertical-align: top;
}

.stats thead th, .stats thead td, .stats tfoot th, .stats tfoot td {
  padding-top: 6px;
  padding-bottom: 6px;
  color: #d8d8d8;
  background: #0b0b0b image-url('partner/stats_header_bg.gif') top left repeat-x;
  font-weight: bold;
  
  &.small {
    font-size: 12px;
    font-weight: normal;
    background: #0b0b0b;
    line-height: 16px;
    img {
      height: 12px;
      vertical-align: middle;
    }
  }
  
}

.stats th, .stats td {
  padding: 4px 8px;
}

.stats th {
  text-align: left;
}

.stats td {
  text-align: right;
}

.stats td:last-child {
  width: 21%;
}

.stats th, .stats td {
  background-color: #d8d8d8;
}

.stats .even th, .stats .even td {
  background-color: #c0c0c0;
}



body {
    background-color: #111;
    font-family: 'Open Sans',Arial,sans-serif
}
#main p {
    line-height: 1.5em;
    margin-bottom: 0.8em
}
h1 {
    border-top-color: #efefef;
    border-top-style: solid;
    border-top-width: 1px;
    font-size: 28px;
    padding-top: 25px;
    text-align: center;
    text-transform: uppercase
}
h1, h2, h3, h4, h5, h6 {
    color: #101010;
    font-family: 'Open Sans', sans-serif
}
.text p, p {
    font-size: 15px
}
#container {
background:#fbfbfb;
border: 1px solid #252525;
min-height: 95%
}
#main_inner {
    padding: 0 25px 25px 25px;
}
#footer {
    border-top-style: none
}
table {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}
.login form {
    width: 300px
}
input, textarea {
border-radius: 4px;
padding: 5px;
border: 1px solid #ccc
}
#customizations a {
    color: #b2272e
}
#customizations li {
    font-size: 13px
}

#customize_nav > p {
    font-size: 15px;
    text-align: center
}

.smaller-nav-font * {
    font-size: 13px;
}


.profile form {
    width: 100%
}

.profile form li.width_a {
  div {
    width: 260px
  }
}
.profile form li.width_b div {
    width: 135px
}


$gradient: #c64d4f 0%, #ce6367 10%, #ce6367 65%, #bf363b 95%, #ad2328 100%;
$roll_gradient: #e4aaac 0%, #e4aaac 10%, #ce6367 65%, #bf363b 95%, #ad2328 100%;


div, span {

	&.rollover_button, &.rollover_button:hover, &.rollover_button:active {
		a {
			display: inline-block;
			width: auto;
			white-space: normal;
		  border: 0px solid #c64d4f;
		  background: #ad2328;
		  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c64d4f), color-stop(10%,#ce6367), color-stop(65%,#ce6367), color-stop(95%,#bf363b), color-stop(100%,#ad2328));
		  background: -webkit-linear-gradient(top, $gradient);
		  background: -moz-linear-gradient(top,  $gradient);
		  background: -ms-linear-gradient(top,  $gradient);
		  background: -o-linear-gradient(top,  $gradient);
		  padding: 5.5px 11px;
		  -webkit-border-radius: 4px;
		  -moz-border-radius: 4px;
		  border-radius: 4px;
			text-align: left;
			/*
		  font-family: Helvetica, Arial, Sans-Serif;
		  text-decoration: none;
		  vertical-align: middle; */
			span {
				background: image-url('buttons/button_arrow.png') no-repeat right center;
				padding:7px 20px 5px 0;
				width: auto;
				display: inline-block;
			  color: white;
			  font-size: 12px;
				line-height: 1.4em;
				font-weight: bold;
				text-transform: uppercase;
				font-family: Helvetica, Arial, Sans-Serif;
				text-align: left;
			}
			&.button_edit {
				width: auto;
				padding: 3px;

				span {
					width: auto;
					padding: 3px;
					font-size:12px;
					background-image:none;
				}
			}
		}
	}
}
div, span {

	&.rollover_button:hover, &.rollover_button:active {
		a {
	  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4aaac), color-stop(10%,#e4aaac), color-stop(65%,#ce6367), color-stop(95%,#bf363b), color-stop(100%,#ad2328));
		  background: -webkit-linear-gradient(top, $roll_gradient);
		  background: -moz-linear-gradient(top,  $roll_gradient);
		  background: -ms-linear-gradient(top,  $roll_gradient);
		  background: -o-linear-gradient(top,  $roll_gradient);
			span {
				background-image: image-url('buttons/button_arrow_hover.png');
			}
		}
	}
}

table.assets {
  font-size: 13px;
  border-spacing: 5px;
}
ul li div.email-preview {
  overflow-y: scroll;
  height: 300px;
  width: auto;
  border: solid 1px #ccc;
  border-radius: 4px;
  padding: 10px;
}
