
$input-height: 40px;
$label-height: 25px;
$label-font-size: 16px;
$input-border: 1px solid #333333;

$main-width: 600px;
$main-padding: 20px;
$tooltip-offset: 30px;

$red: #b2272c;
$grey: #666;
$light-grey: lighten($grey, 50%);