#main {
  form {
    #signature_capture {
      margin-top: 20px;
    }
    
    #signature_capture, #signature_capture2, #continue_on_device {
      display: none;        
    }
    
    #signature_upload {
      margin-top: 1em;      
    }
    
    #signature_field_popup {
      display: none;
      background: white;
      z-index: 10000;
      position: fixed;
      top: 0px;
      left: 0;
      bottom: 0;
      right: 0;
      #signature_field {
        margin-top: 20px;
      }
      .signature_capture_insructions {
        display: none;
      }
      @media screen and (orientation: portrait) {
        transform: rotate(90deg);
        width: 100vh;
        height: 100vw;
        transform-origin: left top;
        left: 100%;
        #signature_field {
          height: 33vh;
          width: 100vh;          
        }
        .signature_capture_insructions {
          display: block;
          position: absolute;
          bottom: 0;
          top: 0;
          left: 0;
          right: 0;
          padding: 00px;
          text-align: center;
          background: rgba(255,255,255,.8);
          span {
            font-size: 20px;
            line-height: 1.6em;
            transform: rotate(-90deg) translateX(0) translateY(50%);
            display: block;
            padding: 20px;
            width: 100vw;
            height: 100vw;
          }
          span.cancel {
            font-size: 20px;
            line-height: 1.6em;
            transform: rotate(-90deg);
            display: block;
            padding: 0;
            width: 100px;
            padding: 5px;
            height: auto;
            text-align: center;
            position: absolute;
            top: 50px;
            border: 1px solid black;
            right: 10px;          
          }
        }
      }
      .signature_done, .signature_clear {
        margin: 1em;
      }
      .signature_done {
        float: right;
      }
      .signature_clear {
        font-size: 16px;
        cursor: pointer;
        float: left;
      }
    }
    
    #signature_field {
      border: 1px solid #ccc; 
      //width: 362px;
      //height: 122px;
      height: 33vw;
      width: 100vw;
    }
    #signature_preview {
      img.preview {
        border: 1px solid #ccc;
      }
    }
    
    #signature-cropper, #continue_on_device {
      display: none;
      padding-left: 40px;
    }

    #signature-cropper {
      .cropit-preview {
        display: none;
        border: 1px solid #ccc;
        width: 362px;
        height: 122px;
        cursor: move;
        &.cropit-image-loaded {
          display: block;
        }
      }
      .cropit-image-zoom-input {
        width: 360px;
      }
    }
    
  }
}