@import 'registration2-variables';

* {
  box-sizing: border-box;
  position: relative;
}

.clear-fix {
  clear: both;
}

input[type=text], input[type=tel] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  outline: none;
}


body {
  width: 100%;
  height: auto;
  margin: 0px auto;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #fff;
  background-image: image-url('reg/container-repeater.gif');
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat-x;
  background-size: auto auto;
  padding-bottom: 60px;

  #sticky_footer {
    background-image: image-url('reg/container-repeater.gif');
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;   
    border-top: 1px solid #999; 
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 60px;
  }
  
  #footer {
    font-family: 'Fira Sans', helvetica, arial, sans-serif;
    width: 600px;
    height: 60px;
    padding: 0;
    border: 0;
    p {
      text-align: left;
      width: 300px;
      line-height: 18px;
      font-size: 12px;
      padding: 12px 0;
      a, a:visited, a:hover, a:link {
        color: #ddd;
        text-transform: uppercase;
      }
      span, span.copyright {
        color: #aaa;
      }
    }
    .powered-by-logo {
      float: right;     
      &:after {
        content: " ";
        display: block;
        clear: both;
      }
      img {
        margin: 15px 0px;
        height: 30px;
      }
      .powered-by-text {
        display: inline-block;
        vertical-align: top;
        font-size: 15px;
        padding-top: 30px;
        line-height: 15px;
        color: #aaa;
        font-family: "Times New Roman", Times, serif;
        font-style: oblique;
      }
    }
    #powered_by_logo {
      display: block;
      width: auto;
      padding: 0;
      margin: 0;      
      a {
        display: inline-block;
      }
    }
    #powered_by_aws_logo {
      display: none;
    }
  }
  
  &.primary-partner {
    #footer {
      #powered_by_logo {
        display: none;
      }
      #powered_by_aws_logo {
        display: block;
      }      
    }
  }
  
}

#header {
  text-align: center;
  background-image: image-url('rtv-square-reversed.png');
  background-repeat: no-repeat;
  background-position: 0 15px;
  background-size: auto 50px;
  &.partner {
    background-size: 75px 45px;
  }
  
  height: 80px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  margin-bottom: 60px;  
  .header-text {
    display: block;
    color: white;
    font-size: 40px;
    text-transform: capitalize;
    padding-top: ((80-40px)/2);
    font-family: Caveat,cursive;
    font-weight: 400;
    height: 80px;
  }    
  #progress-bar {
    display: none;
  }
}

#header, #main {
  width: $main-width;
  margin: 0px auto;
}

#main {
  width: $main-width - $main-padding;
  padding: 20px $main-padding/2 60px;
  #other_language_link {
    text-align: right;
    margin: 1em 0;
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      background: #fff image-url('reg/select-arrow.png') no-repeat right center;
      font-size: 14px;
      padding: 6px 40px 6px 5px;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
      height: 34px;
      border: 0;
    }
    select::-ms-expand {
      display: none;
    }
  }
  
  .intro-message {
    p {
      text-align: center;
      font-size:15px;
    }
  }
  .special-zip-message {
    p {
      font-size:15px;
    }
    ul {
      list-style: disc;
      li {
        font-size:15px;
        margin: 1em 0;  
      }
    }
  }
  
  p {
    margin: 2em 0;
    color: #666;    
    font-size: 12px;
    a {
      text-decoration: underline;
    }
    &.overseas-instructions {
      margin: 4em 0;
    }
    &.already-registered {
      font-size: 15px;
      text-align: right;
      margin: 4em 0;
    }
  }
  
  .step_1 {
    h1 { 
      display: none;
    }
    form {
      ul, ul.flat {
        li, li.width_f {
          &.registrant-form__home-zip__line {
            width: 60%;          
          }
        }
      }
    }
  }
    
  .step_4 {
    h1 {
      text-align: center;
      line-height: 1.6em;
    }
    h3.ovr_step_4 {
      color: #666;
      font-weight: bold;
      text-align: center;
      margin: 1em auto;
      font-size: 18px;
      line-height: 1.4em;
      
      width: 70%;
    }

    .rollover_button button {
      line-height: 1.35em;
    }
    
    ul {
      // Different here due to lack of has-state-ID question
      li.registrant-form__state-id-number__line {
        margin-top: 30px;
      }
    }
  }
  
  .step_6 {
    h1 {
      margin: 0px auto;
      text-align: center;
      font-size: 28px;
      text-transform: uppercase;      
    }
  }
  
  form {
    
    ul li > div.tooltip {
      width: 25%;      
    }
    ul li > div.tooltip, fieldset legend img.tooltip {
      padding: 2px 5px;
      float: none;
      display: inline-block;
      position: absolute;
      left: 0 - $tooltip-offset;
      top: 0;
    }
    fieldset legend img.tooltip {
      top: 1em;
    }
    
    &:after {
      display: block;
      content: " ";
      clear: both;
    }
    padding-bottom: 2em;
    
    fieldset {
      margin: 0;
      padding: 0;
      border: none;
      legend {
        padding: 1em 0 0;
      }
      &.opt-ins {
        margin-top: 20px;
      }
      &.questions {
        legend {
          margin-bottom: 15px;
        }
      }
    }
    
    hr {
      display: none !important;
    }
    
    .rollover_button button, .rollover_button span.button-style {
      background-color: #fff;
      background-image: none;
      border: 2px solid #b2272c;
      border-radius: 0;
      box-shadow: none;
      color: #b2272c !important;
      font-family: 'Fira Sans', helvetica, arial, sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 1em;
      margin: 0 !important;
      padding: 10px 20px !important;
      text-align: center !important;
      text-decoration: none !important;
      text-shadow: none;
      transition: background 0.5s ease-out 0s, color 0.05s ease-in 0s;
      margin: 0;
      min-width: auto;
      &:hover {
        background: #b2272c;
        color: #fff !important;
        cursor: pointer;
        transition: background 0.9s ease-out, color 0.05s ease-in;
      }
    }
    
    .rollover_button a {
      display: block;
      span.button-style {
        display: inline-block;
      }
    }
    
    ul, ul.flat {
      margin: 0;
      padding: 0;
      overflow: visible;
      &:after {
        display: block;
        content: " ";
        clear: both;
      }
      &.radio, &.checkbox { 
        li label {
          color: #666;
          font-weight: bold;
          font-size: $label-font-size - 3px;
        }
      }
      li.spacer {
        display: none;
      }
      li, li.width_f {
        margin: 0;
        padding: 0 0 0;
        width: 100%;
        h3 {
          float: none;
          text-align: left;
          width: auto;
          color: #757575;
          height: $label-height;
          font-size: $label-font-size;
          line-height: 1em;
        }
        div {
          width: 100%;
          height: auto;
          input {
            border: $input-border;
            height: $input-height;
            width: 100%;
            padding: 5px 10px;
            font-size: $label-font-size;
            margin: 0;
            &#registrant_home_zip_code {
              
            }
          }
          select {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            -o-appearance: none;
            appearance: none;
            background: #fff image-url('reg/select-arrow.png') no-repeat right center;
            font-size: 14px;
            padding: 6px 40px 6px 5px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
            height: $input-height;
            width: 100%;
            border: $input-border;
            border-radius: 0;
          }
          select::-ms-expand {
            display: none;
          }
          &.has_error {
           select {
             background: #fcc image-url('reg/select-arrow.png') no-repeat right center;
           } 
          }
        }
        
        span.error {
          clear: both;
          display: block;
        }
        
        .button.rollover_button {
          margin: 0;
          display: inline-block;
        }
        
        
        &.registrant-form__home-zip__button {
          width: 35%;
          margin-left: 5%;
          margin-top: $label-height;
          button {
            height: $input-height;
            width: 100%;
          }          
        }
        
        &.registrant-form__name-title__line, &.registrant-form__prev-middle-name__line,
        &.registrant-form__first-name__line, &.registrant-form__prev-last-name__line,
        &.registrant-form__last-name__line, &.registrant-form__prev-first-name__line,
        &.registrant-form__middle-name__line, &.registrant-form__prev-name-title__line {
          margin-right: 2%;
        }

        &.registrant-form__name-title__line, &.registrant-form__prev-name-title__line, 
        &.registrant-form__name-suffix__line, &.registrant-form__prev-name-suffix__line {        
          width: 16%;
        }
        &.registrant-form__first-name__line, &.registrant-form__prev-first-name__line, 
        &.registrant-form__last-name__line, &.registrant-form__prev-last-name__line {
          width: 24%;
        }
        &.registrant-form__middle-name__line, &.registrant-form__prev-middle-name__line {
          width: 12%;
        }
        
        &.registrant-form__us-citizen__line, &.registrant-form__change-of-name__line {
          width: 48%;
          margin-right: 2%;
        }
        
        &.registrant-form__us-citizen__line,
        &.registrant-form__will-be-18-by-election__line,
        &.registrant-form__required-checkbox {
          margin: 15px auto;
          padding: 10px 15px;
          border: 1px solid $light-grey;
          float: none;
          width: 75%;
          h3 {
            height: auto;
            margin-bottom: 0;
            margin-top: 5px;
            input, label {
              font-size: 16px;              
              vertical-align: top;
              line-height: 1em;
            }
            input[type=checkbox] {
              margin: 3px 5px 0 0;
            }
            label {
              display: inline-block;
              line-height: 1.6em;
              width: 78%;
            }
            span.error {
              margin-top: 5px;
            }
          }
        }
        
        &.registrant-form__home-address__line, 
        &.registrant-form__mailing-address__line, 
        &.registrant-form__prev-address__line {
          width: 75%;
          margin-right: 2%;
        }

        &.registrant-form__home-unit__line, 
        &.registrant-form__mailing-unit__line, 
        &.registrant-form__prev-unit__line {
          width: 23%;
        }     
        
        &.registrant-form__home-city__line, 
        &.registrant-form__mailing-city__line, 
        &.registrant-form__prev-city__line {
          width: 45%;
          margin-right: 2%;
        }
        
        &.registrant-form__home-state-abbrev__line, 
        &.registrant-form__mailing-state-abbrev__line, 
        &.registrant-form__prev-state-abbrev__line {
          width: 23%;
          margin-right: 2%;
        }
        &.registrant-form__home-zip-code__line, 
        &.registrant-form__mailing-zip-code__line, 
        &.registrant-form__prev-zip-code__line {
          width: 28%;          
        }
        
        &.registrant-form__state-id-number__line {
          width: 100%;
          margin-right: 0%;
        }
        &.registrant-form__date-of-birth__line {
          input {
            width: 55px;
            padding: 5px 5px;
            text-align: center;
            &:last-child {
              width: 75px;
            }
          }
        }
        &.registrant-form__race__line {
          width: 85%;
          margin-right: 15%;
        }
        &.registrant-form__party__line {
          width: 100%;
        }
        
        &.registrant-form__phone__line {
          width: 60%;
          margin-right: 5%;          
        }
        &.registrant-form__phone-type__line {
          width: 35%;
        }
        
        &.registrant-form__opt-in-sms__line, .registrant-form__partner-opt-in-sms__line {
          h3 {
            margin-bottom: 0;
          }
        }
        
        &.registrant-form__has-no-state-license__line,
        &.registrant-form__has-state-license__line {
          margin: 2em 10% 0;
          width: 80%;
          h3 {
            margin-bottom: 15px;
            height: auto;
            &:after {
              display: block;
              clear: both;
              content: "";
            }
          }
          input, label {
            display: block;
            float: left;
            width: 95%;          
          }
          input {
            width: 5%;
            margin-left: 0;
            margin-right: 0;
          }
          label {
            text-transform: uppercase;
            font-size: $label-font-size - 2px;
          }
          
        }
        &.registrant-form__has-no-state-license__line {
          margin-bottom: 2em;
          margin-top: 0;
        }
        
        &.registrant-form__survey-answer-1__line,
        &.registrant-form__survey-answer-2__line {
          margin-bottom: 30px;
        }
        
      }
      
      .checkbox-explanation p {
        margin: -5px 75px 20px 110px;
        color: #434343;
        font-size: 13px;
      }


      .has_license .checkbox-explanation p {
          //background: none repeat scroll 0 0 #EFEFEF;
          color: #c62129;
          border: 2px solid #c62129;
          font-size: 13px;
          font-weight: bold;
          margin: 0px 35px 20px;
          padding: 15px;
      }
    }
    .state-id-number {
      margin-top: 30px;
    }
    .instructions--state-id-number p {
      margin-top: 0;
    }
    .email-checkbox-explanation p {
      margin: 0;
      display: none;
    }
    span.compliance {
      display: inline-block;
      font-size: 12px;
      color: #666;
      line-height: 1.4em;
      padding: 0 0 1em 23px;
      margin: 0 0 1em 0;
    }
    
    
    ul.flat.dob-and-phone {
      li, li.width_f {
        &.registrant-form__date-of-birth__line {
          width: 37%;
          margin-right: 5%;
        }
      
        &.registrant-form__phone__line {
          width: 33%;
          margin-right: 5%;          
        }
        &.registrant-form__phone-type__line {
          width: 20%;
        }
      }

      
    }
    .party-dropdown, .race-dropdown {
      width: 53%;
      float: left;
    }
    .party-dropdown {
      width: 47%;
    }
    

  }
  

  .back {
    text-align: center;
  }
  
  .continue_shift .rollover_button a,
  .download .rollover_button a {
    background-color: #fff;
    background-image: none;
    border: 2px solid #b2272c;
    border-radius: 0;
    box-shadow: none;
    color: #b2272c !important;
    font-family: 'Fira Sans', helvetica, arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1em;
    margin: 0 !important;
    padding: 15px 20px !important;
    text-align: center !important;
    text-decoration: none !important;
    text-shadow: none;
    transition: background 0.5s ease-out 0s, color 0.05s ease-in 0s;
    margin: 0;
    min-width: auto;
    &:hover {
      background: #b2272c;
      color: #fff !important;
      cursor: pointer;
      transition: background 0.9s ease-out, color 0.05s ease-in;
    }
  }

  .download {
    position: relative;
    width: 85%;
    margin: 20px auto;
  }

  .download p {
    font-size: 16px;
    margin-bottom: 3em;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 3em;
  	line-height: 1.6em;
    text-align: center;
    color: $grey;
  }

  .download h2 {
    line-height: 1.6em;
    font-weight: normal;
    margin: 15px 0 25px;
    color: $red;
    font-size: 19px;
    text-align: center;
  }

  .download h2.spaced_out {
    visibility: hidden;
    min-height: 100px;
  }

  .download h2.preparing {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    border: 2px solid #b2272c;
    color: #b2272c !important;
    font-family: 'Fira Sans', helvetica, arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1em;
    margin: 0 !important;
    padding: 10px 20px !important;
    text-align: center !important;
    text-decoration: none !important;
    height: auto;
  }

  .download p.preparing {
    height: 80px;
    text-align: center;
  }
  .download p.preparing img {
    vertical-align: middle;
  }

  #download_no_js {
    padding: 30px;
  }



  .disclosures {
      border: 1px solid #ccc;
      font-size: 13px;
      width: 100%;
      text-align: left;
      margin-left: auto !important;
      margin-right: auto !important;
      .disclosure_num {
        margin: 0;
      }
      p {
        color: black;
      }
  }
  

  .state-flow-error {
    text-align: center;
    padding: 1em;
    border: 1px solid $red;
  }

  .declaration-text {
    margin-top: 2em;
    p {
      line-height: 1.6em;
      font-size: 15px;
      color: black;
      margin: .5em 0;
    }
    ul {
      margin-left: 40px;
      li {
        line-height: 1.6em;
        font-size: 15px;
        list-style: disc outside none;
      }
      
    }
  }

  .review {
    width: 100%;
    font-size: 15px;
    line-height: 1.4em;
    &__section {
      width: 100%;
      margin: 1em 0;
      padding-top: 1em;    
      border-top: 1px solid #ccc;
      &:after {
        display: block;
        content: " ";
        clear: both;
      }
      &__label, &__content {
        float: left;
        padding: .5em 0;
      }
      &__label {
        font-weight: bold;
        text-align: right;
        width: 30%;
      }
      &__content {
        margin-left: 20px;
        width: calc(70% - 20px);
      }
    }
  }
  &.abr {
    line-height: 1.4em;
    p {
      font-size: 14px;
      margin: 0.5em 0;
    }
    font-size: 16px;
    ul {
      color: #666;
      li {
        margin: 0.25em 0;
      }
    }
    .confirm {
      color: #666;
      margin: 2em 0;
      cursor: pointer;
    }
    .reject {
      color: #666;
      margin: 2em 0;
    }
  }
  
  
}

#main.using_state_registration {
  .registrant-form__change-of-name__line,
  #prev_name_set,
  .registrant-form__has-mailing-address__line,
  #mailing_address_set,
  .registrant-form__change-of-address__line,
  #prev_address_set,
  .registrant-form__middle-name__line,
  .registrant-form__prev-middle-name__line
   {
    display: none !important;
  }
  .registrant-form__first-name__line, .registrant-form__prev-last-name__line,
  .registrant-form__last-name__line, .registrant-form__prev-first-name__line {
    width: 31%;
  }
 
}

@import 'registration2-mobile';
@import 'registration2-new-mobile-ui';