@import 'registration2-variables';

body {
  #main {
    .new-mobile-ui {
      #dynamic-progress-bar {
        width: 100%;
        height: 2em;
        margin: 1em 0;
        padding: .4em .3em;
        color: white;
        background: lighten($red, 50%);
        .filler {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          background: $red;
          transition: width .5s;
        }
        .content {
          font-size: 1.3em;
          line-height: 1em;
        }
      }
      .required {
        &--text {
          //display: none !important;
        }
      }
      .dynamic-navigation {
        display: flex;
        justify-content: center;
        .back, .next {
          margin: 0px 10px;
        }
      }
    }
  }
}
    
 