@import 'registration3-variables';
@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');



* {
  box-sizing: border-box;
  position: relative;
}

.clear-fix {
  clear: both;
}

 

input[type=text], input[type=tel], input[type=email], input[type=password], select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  outline: none;
  border: $input-border;
  height: $input-height;
  width: 100%;
  padding: 10px 12px;
  font-size: $base-font-size;
  line-height: $base-line-height;  
  margin: 0;      
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: #fff image-url('reg/select-arrow.png') no-repeat right center;
  font-size: $base-font-size;
  padding: 6px 40px 6px 12px;
  height: $input-height;
  width: 100%;
  border: $input-border;
  border-radius: 0;
}
select::-ms-expand {
  display: none;
}

h1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;
}

h2 {
  font-weight: 600;
  margin-bottom: 16px;
}


p, span.compliance {
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: 4px 0;
}

p.spinner {
  padding: 1em;
  text-align: center;
}

a:link {
  color: $red;
  font-weight: 400;
}
a:hover {
  color: $red;
}
a:visited {
  color: $red;
}

.back {
  display: inline-block;
  padding: 10px 15px;
  a {
    font-weight: 600;
    font-size: $base-font-size;
    line-height: $base-line-height;  
  }
}

.skip_state_registration_link {
  text-align: left;
  display: block;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: 1em 0 0;
}

.rollover_button {
  display: inline-block;
  margin: 1em 0;
  a button, a > span {
    background-color: $red;
    color: $white;
    border: none;
    background-image: none;
    appearance: none;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 600;
    padding: 10px 15px;
    display: inline-block;
    cursor: pointer;
  }
}

.skip_state_registration {
  &+ .back {
    padding-left: 0;
  }
  .rollover_button {
    margin-top: 1em;
  }
}


div.error, span.error {
  clear: both;
  display: block;
  width: 100%;
  color: $red;
  text-transform: none;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: 4px 0;
  font-weight: normal;
}

body {
  width: 100%;
  height: auto;
  margin: 0px auto;
  background-color: $black;
  padding-bottom: 60px;
  font-family: 'Work Sans', helvetica, arial, sans-serif;

  #sticky_footer {
    background: $black;
    border-top: 1px solid #999; 
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 60px;
  }
  
  #footer {
    width: 600px;
    height: 60px;
    padding: 0;
    border: 0;
    p {
      width: 300px;
      line-height: 18px;
      font-size: 12px;
      padding: 12px 0;
      a, a:visited, a:hover, a:link {
        color: #ddd;
        text-transform: uppercase;
      }
      span, span.copyright {
        color: #aaa;
      }
    }
    .powered-by-logo {
      float: right;     
      &:after {
        content: " ";
        display: block;
        clear: both;
      }
      img {
        margin: 15px 0px;
        height: 30px;
      }
      .powered-by-text {
        display: inline-block;
        vertical-align: top;
        padding-top: 30px;
        font-size: $base-font-size;
        line-height: $base-line-height;
  
        color: #aaa;
        font-family: "Times New Roman", Times, serif;
        font-style: oblique;
      }
    }
    #powered_by_logo {
      display: block;
      width: auto;
      padding: 0;
      margin: 0;      
      a {
        display: inline-block;
      }
    }
    #powered_by_aws_logo {
      display: none;
    }
  }
  
  &.primary-partner {
    #footer {
      #powered_by_logo {
        display: none;
      }
      #powered_by_aws_logo {
        display: block;
      }      
    }
  }
  
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: image-url('rtv-square-reversed.png');
  background-repeat: no-repeat;
  background-position:  $main-padding 15px;
  background-size: auto 50px;
  padding-left: 100px;
  color: white;
    
  &.partner {
    background-size: 75px 45px;
  }
  
  height: 80px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  margin-bottom: 60px;  
  .header-text {
    display: flex;
    align-items: center;
    height: 100%;
  }    
  #progress-bar {
    display: none;
  }
}

#header, #main_inner {
  width: $main-width;
  margin: 0px auto;
}

#main {
  width: 100%;
  background: $white;
}

.flash {
  width: 100%;
  margin: 10px auto;
  font-weight: bold;
  li {
    list-style: none;
    margin: 0;
    padding: 8px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-color: $blue;
    background-color: #ddf;
  }
}

#main_inner {
  width: $main-width - $main-padding;
  padding: $main-padding 16px 60px;
  #other_language_link {
    text-align: right;
    margin: 1em 0;    
  }
  
  .declaration-text {
    background-color: #F5EEDD;
    margin:16px 0;
    padding: 16px;
    line-height:1.5;
    strong {
      font-weight: bold;
    }
  }

  .special-zip-message {
    ul {
      list-style: disc;
      li {
        margin: 1em 0;  
      }
    }
  }
  
  p {
    &.overseas-instructions {
      margin: 4em 0;
    }
    &.already-registered {
      margin: 4em 0;
    }
  }
    
  form {
    &:after {
      display: block;
      content: " ";
      clear: both;
    }
    
    .required {
      color: $red;
      margin-left: 4px;
    }

    div.tooltip {
      display: inline-block;
      width: auto;
      position: absolute;
      top: -5px;
    }

    img.tooltip {
      padding: 0px 5px;
      top: 4px;
    }

    padding-bottom: 2em;
    
    
    hr {
      display: none !important;
    }
    
    legend {
      font-weight: bold;
      padding-top: 20px;
      
    }

    
    ul, ul.flat {
      &:after {
        display: block;
        content: " ";
        clear: both;
      }

      &.radio, &.checkbox {
        li h3 {
          display: flex;
          flex-wrap: wrap;
          input {
            height: $label-line-height;
            width: $label-line-height;
            margin: 0 5px 0 0;
            position: relative;
            top: 2px;
          }
          label {
            font-size: $base-font-size;
            line-height: $base-line-height;
            display: flex;
            text-transform: none;
            font-weight: normal;
            width:calc(100% - 30px); /* make room for checkbox*/
          }
        }
      }
      
      li {
        h3 {
          text-transform: uppercase;
          font-size: $label-font-size;
          line-height: $label-line-height;
          min-height: 22px; //min-height set for labels w/out tooltip
          font-weight: bold;
          letter-spacing: .75px;
          margin-top: 12px;
          margin-bottom: 4px;
          div.tooltip {
            width: auto;
          }
        }

        div {
          &.has_error {
            input {
              background: $light-red;
            }
            select {
              background: $light-red image-url('reg/select-arrow.png') no-repeat right center;
            } 
          }
        }
        
      }
      @import 'registration3-field-widths';
      
      .checkbox-explanation p {
        margin: -5px 75px 20px 110px;
        color: #434343;
        font-size: 13px;
      }


      .has_license .checkbox-explanation p {
          //background: none repeat scroll 0 0 #EFEFEF;
          color: #c62129;
          border: 2px solid #c62129;
          font-size: 13px;
          font-weight: bold;
          margin: 0px 35px 20px;
          padding: 15px;
      }
    }
  }
  
  .disclosures {
    border: 1px solid #ccc;
    width: 100%;
    text-align: left;
    margin-left: auto !important;
    margin-right: auto !important;
    .disclosure_num {
      margin: 0;
    }
  }
  

  .state-flow-error {
    padding: 1em;
    border: 1px solid $red-border;
  }

  .declaration-text {
    margin-top: 2em;
    ul {
      margin-left: 40px;
      li {
        line-height: 1.6em;
        list-style: disc outside none;
      }      
    }
  }  
}

#main form .rollover_button .button_pdf_assistance {
  display: inline;
  button {
    border: 0;
    padding: 0 !important;
    &:hover {
      color: unset !important;
      background: unset !important; 
    }
  }
}

@import 'registration3-block-selector';

@import 'registration3-mobile';
@import 'registration3-new-mobile-ui';
@import 'registration3-signature-capture';
@import 'registration3-review';

@import 'states/base3.scss';
@import 'states/pa3.scss';
@import 'states/mi3.scss';
@import 'states/va3.scss';