* {
  box-sizing: border-box;
  position: relative;
}


$input-height: 40px;
$label-height: 25px;
$label-font-size: 16px;
$input-border: 1px solid #333333;

.clear-fix {
  clear: both;
}

body {
  width: 100%;
  margin: 0px auto;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #fff;
  background-image: image-url('reg/container-repeater.gif');
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat-x;
  background-size: auto auto;
  
  #footer {
    font-family: 'Fira Sans', helvetica, arial, sans-serif;
    background-image: image-url('reg/container-repeater.gif');
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat-x;
    background-size: auto auto;
    p {
      text-align: left;
      width: 600px;
      margin: 0px auto;
      a, a:visited, a:hover, a:link {
        color: #ddd;
        text-transform: uppercase;
      }
      span, span.copyright {
        color: #aaa;
      }
    }
  }
}

#header {
  text-align: center;
  background-image: image-url('reg/rtv-header.png');
  background-repeat: no-repeat;
  height: 80px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  margin-bottom: 60px;  
  #progress-bar {
    display: none;
  }
}

#header, #main {
  width: 600px;
  margin: 0px auto;
}

#main {
  width: 580px;
  padding: 20px 10px;
  #other_language_link {
    text-align: right;
    margin: 1em 0;
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      background: #fff image-url('reg/select-arrow.png') no-repeat 92% center;
      font-size: 14px;
      padding: 6px 40px 6px 5px;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
      height: 34px;
      border: 0;
    }
  }
  
  p {
    margin: 2em 0;
    color: #666;    
    font-size: 12px;
    a {
      text-decoration: underline;
    }
  }
  
  .step_1 form {
    ul, ul.flat {
      li, li.width_f {
        &.registrant-form__home-zip__line {
          width: 60%;          
        }
      }
    }
  }
  
  .step_4 {
    h1 {
      text-transform: uppercase;
      display: block;
      height: auto;
      text-align: center;
      font-size: 24px;
      color: #c62129;
      background: black; 
      padding: 15px 3px;
      line-height: 1.4em;
      width: 80%;
      margin: 0px auto;
    }
    h3.ovr_step_4 {
      color: #666;
      font-weight: bold;
      text-align: center;
      margin: 1em auto;
      font-size: 18px;
      line-height: 1.4em;
      
      width: 70%;
    }
  }
  
  form {
    
    ul li > div.tooltip {
      width: 25%;      
    }
    ul li > div.tooltip, fieldset legend img.tooltip {
      padding: 5px;
      float: none;
      display: inline-block;
      position: absolute;
      left: -30px;
      top: 7px;
    }
    
    &:after {
      display: block;
      content: " ";
      clear: both;
    }
    padding-bottom: 100px;
    
    fieldset {
      margin: 0;
      padding: 0;
      border: none;
      legend {
        padding: 1em 0 0;
      }
    }
    
    hr {
      display: none !important;
    }
    
    .rollover_button button {
      background-color: #fff;
      background-image: none;
      border: 2px solid #b2272c;
      border-radius: 0;
      box-shadow: none;
      color: #b2272c !important;
      font-family: 'Fira Sans', helvetica, arial, sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 1em;
      margin: 0 !important;
      padding: 10px 20px !important;
      text-align: center !important;
      text-decoration: none !important;
      text-shadow: none;
      transition: background 0.5s ease-out 0s, color 0.05s ease-in 0s;
      margin: 0;
      min-width: auto;
      &:hover {
        background: #b2272c;
        color: #fff !important;
        cursor: pointer;
        transition: background 0.9s ease-out, color 0.05s ease-in;
      }
    }
    
    ul, ul.flat {
      margin: 0;
      padding: 0;
      overflow: visible;
      &:after {
        display: block;
        content: " ";
        clear: both;
      }
      &.radio, &.checkbox { 
        li label {
          color: #666;
          font-weight: bold;
          font-size: $label-font-size - 3px;
        }
      }
      li.spacer {
        display: none;
      }
      li, li.width_f {
        margin: 0;
        padding: 1em  0 0;
        width: 100%;
        h3 {
          float: none;
          text-align: left;
          width: auto;
          color: #aaa;
          height: $label-height;
          font-size: $label-font-size;
          line-height: 1em;
        }
        div {
          width: 100%;
          height: auto;
          input {
            border: $input-border;
            height: $input-height;
            width: 100%;
            padding: 5px 10px;
            font-size: $label-font-size;
            margin: 0;
            &#registrant_home_zip_code {
              
            }
          }
          select {
            -webkit-appearance: none;
            -moz-appearance: none;
            background: #fff image-url('reg/select-arrow.png') no-repeat 92% center;
            font-size: 14px;
            padding: 6px 40px 6px 5px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
            height: $input-height;
            width: 100%;
            border: $input-border;
            border-radius: 0;
          }
          &.has_error {
           select {
             background: #fcc image-url('reg/select-arrow.png') no-repeat 92% center;
           } 
          }
        }
        
        span.error {
          clear: both;
          display: block;
        }
        
        .button.rollover_button {
          margin: 0;
          display: inline-block;
        }
        
        
        &.registrant-form__home-zip__button {
          width: 35%;
          margin-left: 5%;
          margin-top: $label-height;
          button {
            height: $input-height;
            width: 100%;
          }          
        }
        
        &.registrant-form__name-title__line, &.registrant-form__prev-middle-name__line,
        &.registrant-form__first-name__line, &.registrant-form__prev-last-name__line,
        &.registrant-form__last-name__line, &.registrant-form__prev-first-name__line,
        &.registrant-form__middle-name__line, &.registrant-form__prev-name-title__line {
          margin-right: 2%;
        }

        &.registrant-form__name-title__line, &.registrant-form__prev-name-title__line, 
        &.registrant-form__name-suffix__line, &.registrant-form__prev-name-suffix__line {        
          width: 16%;
        }
        &.registrant-form__first-name__line, &.registrant-form__prev-first-name__line, 
        &.registrant-form__last-name__line, &.registrant-form__prev-last-name__line {
          width: 24%;
        }
        &.registrant-form__middle-name__line, &.registrant-form__prev-middle-name__line {
          width: 12%;
        }
        
        &.registrant-form__us-citizen__line, &.registrant-form__change-of-name__line {
          width: 48%;
          margin-right: 2%;
        }
        
        &.registrant-form__home-address__line, 
        &.registrant-form__mailing-address__line, 
        &.registrant-form__prev-address__line {
          width: 75%;
          margin-right: 2%;
        }

        &.registrant-form__home-unit__line, 
        &.registrant-form__mailing-unit__line, 
        &.registrant-form__prev-unit__line {
          width: 23%;
        }     
        
        &.registrant-form__home-city__line, 
        &.registrant-form__mailing-city__line, 
        &.registrant-form__prev-city__line {
          width: 45%;
          margin-right: 2%;
        }
        
        &.registrant-form__home-state-abbrev__line, 
        &.registrant-form__mailing-state-abbrev__line, 
        &.registrant-form__prev-state-abbrev__line {
          width: 23%;
          margin-right: 2%;
        }
        &.registrant-form__home-zip-code__line, 
        &.registrant-form__mailing-zip-code__line, 
        &.registrant-form__prev-zip-code__line {
          width: 28%;          
        }
        
        &.registrant-form__state-id-number__line {
          width: 65%;
          margin-right: 10%;
        }
        &.registrant-form__date-of-birth__line {
          width: 25%;
        }
        &.registrant-form__race__line {
          width: 85%;
          margin-right: 15%;
        }
        &.registrant-form__party__line {
          width: 100%;
        }
        
        &.registrant-form__phone__line {
          width: 60%;
          margin-right: 5%;          
        }
        &.registrant-form__phone-type__line {
          width: 35%;
        }
        
        &.registrant-form__has-no-state-license__line,
        &.registrant-form__has-state-license__line {
          margin: 2em 10% 0;
          width: 80%;
          h3 {
            margin-bottom: 15px;
            height: auto;
            &:after {
              display: block;
              clear: both;
              content: "";
            }
          }
          input, label {
            display: block;
            float: left;
            width: 95%;          
          }
          input {
            width: 5%;
            margin-left: 0;
            margin-right: 0;
          }
          label {
            text-transform: uppercase;
            font-size: $label-font-size - 2px;
          }
          
        }
        &.registrant-form__has-no-state-license__line {
          margin-bottom: 2em;
          margin-top: 0;
        }
        
        
        
      }
      
      .checkbox-explanation p {
        margin: -5px 75px 20px 110px;
        color: #434343;
        font-size: 13px;
      }


      .has_license .checkbox-explanation p {
          //background: none repeat scroll 0 0 #EFEFEF;
          color: #c62129;
          border: 2px solid #c62129;
          font-size: 13px;
          font-weight: bold;
          margin: 0px 35px 20px;
          padding: 15px;
      }
    }
    .instructions--state-id-number p {
      margin-top: 0;
    }
    ul.flat.dob-and-phone {
      li, li.width_f {
        &.registrant-form__date-of-birth__line {
          width: 25%;
          margin-right: 5%;
        }
      
        &.registrant-form__phone__line {
          width: 45%;
          margin-right: 5%;          
        }
        &.registrant-form__phone-type__line {
          width: 20%;
        }
      }

      
    }
    .party-dropdown, .race-dropdown {
      width: 53%;
      float: left;
    }
    .party-dropdown {
      width: 47%;
    }
    

  }
  

  .download .rollover_button a {
    background-color: #fff;
    background-image: none;
    border: 2px solid #b2272c;
    border-radius: 0;
    box-shadow: none;
    color: #b2272c !important;
    font-family: 'Fira Sans', helvetica, arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1em;
    margin: 0 !important;
    padding: 10px 20px !important;
    text-align: center !important;
    text-decoration: none !important;
    text-shadow: none;
    transition: background 0.5s ease-out 0s, color 0.05s ease-in 0s;
    margin: 0;
    min-width: auto;
    &:hover {
      background: #b2272c;
      color: #fff !important;
      cursor: pointer;
      transition: background 0.9s ease-out, color 0.05s ease-in;
    }
  }

  .download {
    position: relative;
    width: 85%;
    margin: 20px auto;
  }

  .download p {
    font-size: 14px;
    margin: 15px;
  	line-height: 1.6em;
  }

  .download h2 {
    margin: 15px;
  }

  .download h2.spaced_out {
    visibility: hidden;
  }

  .download h2.preparing {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    border: 2px solid #b2272c;
    color: #b2272c !important;
    font-family: 'Fira Sans', helvetica, arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1em;
    margin: 0 !important;
    padding: 10px 20px !important;
    text-align: center !important;
    text-decoration: none !important;
    height: auto;
  }

  .download p.preparing {
    height: 80px;
    text-align: center;
  }
  .download p.preparing img {
    vertical-align: middle;
  }

  #download_no_js {
    padding: 30px;
  }

  .download p {
      font-size: 19px;
      font-weight: 800;
      line-height: 1.6em;
      margin-bottom: 15px;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 15px;
      text-align: center;
      color: #b2272c;

  }

  .disclosures {
      border: 1px solid #ccc;
      font-size: 13px;
      width: 525px;
      text-align: left;
      margin-left: auto !important;
      margin-right: auto !important;
  }

  
  
}
