$base-font-size: 14px;
$base-line-height: 20px;

$input-height: 36px;
$label-font-size: 10px;
$label-line-height: 16px;

$main-width: 600px;
$main-padding: 20px;
$tooltip-offset: 30px;

$red: rgba(179,36,38,1);
$red-border: #F7303F;
$blue: #2F40C5;
$outline-color: $blue;
$light-red: #fcc;
$grey: #666;
$light-grey: lighten($grey, 50%);
$white: #fff;
$black: #000;


$input-border: 1px solid #373D42;
