/*registration 2024 edits*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
	color: #000;
	background-image: none;
	font-family: 'Inter', sans-serif;
	font-size: 12px
}
body #footer p {
	font-family: 'Inter', sans-serif;
	width: 330px;
}
#main #other_language_link select {
	text-shadow: none;
	color: #000;
}
#main.abr form ul li h3, #main form ul li.width_f h3, #main.abr form ul.flat li h3, #main.abr form ul.flat li.width_f h3 {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 400;
}
#main.abr .state-abr-form-fields li ul.checkbox h3, #main.lookup .state-abr-form-fields li ul.checkbox h3, #main.alert_request .state-abr-form-fields li ul.checkbox h3, #main.ballot-status-check .state-abr-form-fields li ul.checkbox h3 {
	display: inline;
}
.abr-page li.registrant-form__date-of-birth__line {
	top: 16px;
}
input[type='radio'] {
	accent-color: #0f75bd;
}
input[type='checkbox'] {
	display: none !important;
}
#header {
	text-align: center;
	background-image: image-url('300px-rtv-logo.png');
	background-repeat: no-repeat;
	background-position: 0 15px;
	background-size: auto 50px;
}
#main #other_language_link select {
	margin-right: -10px;
}
body #footer p span, body #footer p span.copyright {
	color: #373D42;
}
body #footer .powered-by-logo .powered-by-text {
	color: #373D42;
	font-family: "Times New Roman", Times, serif;
	font-style: oblique;
}
body #sticky_footer {
	background-image: none;
	border-top: 0px solid #999;
	background-color: #fff;
}
body #footer p a, body #footer p a:visited, body #footer p a:link {
	color: rgb(8,59,95);
}
body #footer p a:hover {
	color: #000;
}
p.privacy_policy_acceptance {
	display: block;
}
#main {
	width: 100%;
	padding-top: 0px;
	max-width: 600px;
	padding: 0;
}
#header .header-text {
	display: block;
	color: #000;
	font-size: 28px;
	text-transform: capitalize;
	padding-top: 20px;
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	height: 80px;
}
body.abr-page #header .header-text {
	font-size: 28px;
}
label {
	line-height: 1.6em;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
}
#main form fieldset legend img.tooltip {
	top: 5px;
	position: relative;
	text-align: left;
	right: 0;
	left: 0;
	float: none;
}
#main .step_1 form ul li>div.tooltip {
	padding: 2px 0;
	float: none;
	display: inline;
    position: relative;
	left: 0;
	text-align: left;
}
#main form ul li>div.tooltip {
	padding: 2px 0;
	float: none;
	display: inline;
	position: relative;
	left: 0;
	text-align: left;
	right: 0;
}
#main form ul.flat li h3 {
	float: left;
}
#main .step_1 form ul li h3, #main form ul li.width_f h3, #main .step_1 form ul.flat li h3, #main .step_1 form ul.flat li.width_f h3 {
	float: left;
}
#main form ul li.registrant-form__date-of-birth__line input, #main form ul li.width_f.registrant-form__date-of-birth__line input, #main form ul.flat li.registrant-form__date-of-birth__line input, #main form ul.flat li.width_f.registrant-form__date-of-birth__line input {
	margin-right: 4px;
}
#main form ul.flat li.registrant-form__date-of-birth__line input:last-child {
	margin-right: 0;
	width: 83px;
}
span.required {
	color: rgb(179,36,38);
	font-size: 12px;
	top: -2px;
	margin-left: 5px;
}
h1 .sub-header {
	font-size: 14px;
	line-height: 18px;
	margin: 20px 0 0 0;
	width: auto;
	font-weight: 600;
}
h1 {
	font-size: 16px;
}
#main form ul li.registrant-form__has-state-license__line label {
	font-size: 15px
}
#main form ul li div select, #main form ul li.width_f div select, #main form ul.flat li div select, #main form ul.flat li.width_f div select {
	padding-left: 10px;
	color: rgb(165,165,165);
}
h1, h2, h3, h4, h5, h6, legend, #header .header-text {
	font-family: 'Inter', sans-serif;
	color: #000;
}
legend {
	font-size: 12px;
	font-weight: 600;
}
.declaration-text {
    border-radius: 4px;
}
#main form ul li.registrant-form__us-citizen__line h3 input, #main form ul li.registrant-form__us-citizen__line h3 label, #main form ul li.registrant-form__will-be-18-by-election__line h3 input, #main form ul li.registrant-form__will-be-18-by-election__line h3 label, #main form ul li.registrant-form__required-checkbox h3 input, #main form ul li.registrant-form__required-checkbox h3 label, #main form ul li.width_f.registrant-form__us-citizen__line h3 input, #main form ul li.width_f.registrant-form__us-citizen__line h3 label, #main form ul li.width_f.registrant-form__will-be-18-by-election__line h3 input, #main form ul li.width_f.registrant-form__will-be-18-by-election__line h3 label, #main form ul li.width_f.registrant-form__required-checkbox h3 input, #main form ul li.width_f.registrant-form__required-checkbox h3 label, #main form ul.flat li.registrant-form__us-citizen__line h3 input, #main form ul.flat li.registrant-form__us-citizen__line h3 label, #main form ul.flat li.registrant-form__will-be-18-by-election__line h3 input, #main form ul.flat li.registrant-form__will-be-18-by-election__line h3 label, #main form ul.flat li.registrant-form__required-checkbox h3 input, #main form ul.flat li.registrant-form__required-checkbox h3 label, #main form ul.flat li.width_f.registrant-form__us-citizen__line h3 input, #main form ul.flat li.width_f.registrant-form__us-citizen__line h3 label, #main form ul.flat li.width_f.registrant-form__will-be-18-by-election__line h3 input, #main form ul.flat li.width_f.registrant-form__will-be-18-by-election__line h3 label, #main form ul.flat li.width_f.registrant-form__required-checkbox h3 input, #main form ul.flat li.width_f.registrant-form__required-checkbox h3 label {
	font-size: 14px;
}
#main form ul li.registrant-form__us-citizen__line, #main form ul li.registrant-form__will-be-18-by-election__line, #main form ul li.registrant-form__required-checkbox, #main form ul li.width_f.registrant-form__us-citizen__line, #main form ul li.width_f.registrant-form__will-be-18-by-election__line, #main form ul li.width_f.registrant-form__required-checkbox, #main form ul.flat li.registrant-form__us-citizen__line, #main form ul.flat li.registrant-form__will-be-18-by-election__line, #main form ul.flat li.registrant-form__required-checkbox, #main form ul.flat li.width_f.registrant-form__us-citizen__line, #main form ul.flat li.width_f.registrant-form__will-be-18-by-election__line, #main form ul.flat li.width_f.registrant-form__required-checkbox {
	margin: 0;
	padding: 0;
	border: 0px solid #000;
	width: 100%;
	margin-right: 0;
}
ul.checkbox label {
	text-transform: inherit;
}
#main form ul li.registrant-form__us-citizen__line,#main form ul li.registrant-form__will-be-18-by-election__line,#main form ul li.registrant-form__confirm_will_be_18__line {
	border: 1px solid #000;
	border-radius: 4px;
	padding: 10px;
}
/* mail me my form checkbox */
#main .skip_state_registration .checkbox {
	border: 1px solid #000;
	border-radius: 4px;
	padding: 10px;
	text-align: left !important;
	margin: 12px 0;
}
/* Hide the default checkboxes */
input[type="checkbox"] {
	display: none;
}
/* Style the custom checkboxes */
input[type="checkbox"] + label::before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	border: 1px solid #000;
	border-radius: 4px;
	background-color: #fff;
	margin-right: 10px;
	/* Margin to separate checkbox from label */
	position: relative;
	/* Position relative for pseudo-element */
	vertical-align: middle;
	/* Align checkbox vertically with label text */
	margin-left: 5px;
}
/* Style the checked state of the custom checkboxes */
input[type="checkbox"]:checked + label::before {
	background-color: #0f75BD;
	/* Fill color when checked */
	border-color: #0f75BD;
	/* Border color when checked */
}
/* Create the checkmark using SVG */
input[type="checkbox"] + label::after {
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	position: absolute;
	/* Position absolute to overlay on top of checkbox */
	top: 2px;
	/* Adjust to drop down */
	left: 5px;
	background-image: url("data:image/svg+xml,%3Csvg fill='%23fff' width='18px' height='18px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	/* Ensure checkmark is not repeated */
	background-position: center;
	/* Center the checkmark */
	opacity: 0;
	/* Initially hide the checkmark */
}
/* Style the labels for the checkboxes */
label {
	display: inline-block;
	cursor: pointer;
	font-size: 14px;
}
/* Additional styling for checkboxes */
.opt-ins input[type="checkbox"] {
	display: none;
}
.opt-ins input[type="checkbox"] + label::before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	border: 1px solid #000;
	/* Black border */
	border-radius: 4px;
	/* Border radius */
	background-color: #fff;
	/* White background */
	margin-right: 10px;
	/* Margin to separate checkbox from label */
	position: relative;
	/* Position relative for pseudo-element */
	vertical-align: middle;
	/* Align checkbox vertically with label text */
	margin-left: 5px;
}
.opt-ins input[type="checkbox"]:checked + label::before {
	background-color: #0f75BD;
	/* Fill color when checked */
	border-color: #0f75BD;
	/* Border color when checked */
}
.opt-ins input[type="checkbox"] + label::after {
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	position: absolute;
	/* Position absolute to overlay on top of checkbox */
	top: 0px;
	/* Adjust to drop down by 1px */
	left: 5px;
	background-image: url("data:image/svg+xml,%3Csvg fill='%23fff' width='18px' height='18px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	/* Ensure checkmark is not repeated */
	background-position: center;
	/* Center the checkmark */
	opacity: 0;
	/* Initially hide the checkmark */
}
.opt-ins label {
	display: inline-block;
	cursor: pointer;
	font-size: 14px;
}
/* Error styling for checkboxes */
.has_error input[type="checkbox"] + label::before {
	border-color: rgb(179, 36, 38);
}
/* Additional styling for checkboxes outside the .opt-ins and not within .registrant-form__us-citizen__line */
:not(.opt-ins) input[type="checkbox"] + label::after {
	opacity: 1;
	/* Show the checkmark */
	content: url("data:image/svg+xml,%3Csvg fill='%23fff' width='18px' height='18px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z'/%3E%3C/svg%3E");
	display: inline-block;
	width: 18px;
	height: 18px;
	position: absolute;
	left: 5px;
	background-repeat: no-repeat;
	/* Ensure checkmark is not repeated */
	background-position: center;
	/* Center the checkmark */
}
li.registrant-form__change-of-name__line > h3 > label::after,li.registrant-form__change-of-address__line > h3 > label::after {
	top: 0;
}
li.registrant-form__us-citizen__line.registrant-form__required-checkbox > h3 > label::after,li.registrant-form__will-be-18-by-election__line.registrant-form__required-checkbox > h3 > label::after,ul.checkbox.checkbox-step-1 > li.registrant-form__us-citizen__line > h3 > label::after,li.registrant-form__confirm_will_be_18__line.registrant-form__required-checkbox > h3 > label::after,li.registrant-form__will-be-18-by-election__line > h3 > label::after {
	top: 1px;
	margin-left: 0;
}
li.registrant-form__opt-in-sms__line > h3 > label::after,li.registrant-form__opt-in-email__line > h3 > label::after,fieldset.no_border.opt-ins > fieldset > ul.checkbox > li.registrant-form__volunteer__line > h3 > label::after,li.registrant-form__partner-opt-in-email__line > h3 > label::after,li.registrant-form__partner-opt-in-sms__line > h3 > label::after,li.registrant-form__partner-volunteer__line > h3 > label::after,.edit_state_registrants_pa_registrant ul > li.registrant-form__change-of-address__line > h3 > label::after,.edit_state_registrants_pa_registrant li.registrant-form__change-of-name__line > h3 > label::after,.edit_state_registrants_wa_registrant ul > li.registrant-form__change-of-name__line > h3 > label::after {
	top: 2px;
}
ul > li.registrant-form__change-of-name__line > h3 > label {
	width: auto;
}
.edit_state_registrants_pa_registrant ul.checkbox h3 label {
	width: auto;
}
.abr .step_3 ul.checkbox h3 label {
	width: auto;
}
.step_2 ul.checkbox h3 label {
	width: auto;
}
#main form ul li.registrant-form__us-citizen__line h3, #main form ul li.registrant-form__will-be-18-by-election__line h3, #main form ul li.registrant-form__required-checkbox h3, #main form ul li.width_f.registrant-form__us-citizen__line h3, #main form ul li.width_f.registrant-form__will-be-18-by-election__line h3, #main form ul li.width_f.registrant-form__required-checkbox h3, #main form ul.flat li.registrant-form__us-citizen__line h3, #main form ul.flat li.registrant-form__will-be-18-by-election__line h3, #main form ul.flat li.registrant-form__required-checkbox h3, #main form ul.flat li.width_f.registrant-form__us-citizen__line h3, #main form ul.flat li.width_f.registrant-form__will-be-18-by-election__line h3, #main form ul.flat li.width_f.registrant-form__required-checkbox h3 {
	height: auto;
	margin-bottom: 0;
	margin-top: 0;
}
.edit_state_registrants_wa_registrant #dln_set {
	margin-top: 20px;
}
/* radio input size */
#main.abr .state-abr-form-fields .radio input,#main.lookup .state-abr-form-fields .radio input,#main.alert_request .state-abr-form-fields .radio input,#main.ballot-status-check .state-abr-form-fields .radio input,#main .radio input {
	width: 18px;
	height: 18px;
}
.tooltip #tooltip-prev_name_title {
	display: none;
}
#main form ul li.registrant-form__will-be-18-by-election__line,#main form ul li.registrant-form__confirm_will_be_18__line {
	margin-top: 10px;
	margin-bottom: 10px;
}
#main form ul li.registrant-form__us-citizen__line h3 {
	margin-bottom: 0;
	margin-top: 0;
}
#main form ul li.registrant-form__us-citizen__line h3 label, #main form ul li.registrant-form__will-be-18-by-election__line h3 label, #main form ul li.registrant-form__required-checkbox h3 label, #main form ul li.width_f.registrant-form__us-citizen__line h3 label, #main form ul li.width_f.registrant-form__will-be-18-by-election__line h3 label, #main form ul li.width_f.registrant-form__required-checkbox h3 label, #main form ul.flat li.registrant-form__us-citizen__line h3 label, #main form ul.flat li.registrant-form__will-be-18-by-election__line h3 label, #main form ul.flat li.registrant-form__required-checkbox h3 label, #main form ul.flat li.width_f.registrant-form__us-citizen__line h3 label, #main form ul.flat li.width_f.registrant-form__will-be-18-by-election__line h3 label, #main form ul.flat li.width_f.registrant-form__required-checkbox h3 label {
	display: inline;
	line-height: 1.6em;
	width: 100%;
}
#main form ul.radio li label, #main form ul.checkbox li label, #main form ul.flat.radio li label, #main form ul.flat.checkbox li label {
	color: #000;
	text-transform: initial;
}
a:link, #main.abr .requirements a, #main.abr .state-instructions a, #main.abr .intro-message a, #main.abr .finish_instructions a, #main.lookup .requirements a, #main.lookup .state-instructions a, #main.lookup .intro-message a, #main.lookup .finish_instructions a, #main.alert_request .requirements a, #main.alert_request .state-instructions a, #main.alert_request .intro-message a, #main.alert_request .finish_instructions a, #main.ballot-status-check .requirements a, #main.ballot-status-check .state-instructions a, #main.ballot-status-check .intro-message a, #main.ballot-status-check .finish_instructions a {
	/*color: #B32426;*/	
}
a:link, a:visited, a:active {
	color: #B32426;
	font-weight: 500;
	text-decoration: underline;
}
body #footer p a, body #footer p a:visited, body #footer p a:link {
    color: #B32426;
}
body #footer p a:hover, a:hover {
	color: #000;
}
#main .intro-message p, #main p, #main.abr .intro-message p, #main.alert_request .intro-message, #main.alert_request .intro-message, #main.lookup .intro-message p, #main.lookup .reject p, #main.lookup .reject li, #main.alert_request .reject p, #main.alert_request .reject li, #main.abr p, #main.lookup p, #main.alert_request p, #main.ballot-status-check p, #main .declaration-text p, .fulltext p {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #000;
}
#main form ul .has_license .checkbox-explanation p, #main form ul.flat .has_license .checkbox-explanation p {
	color: #DD2834;
	border: 1px solid #DD2834;
	font-size: 14px;
	font-weight: 600;
	border-radius: 4px;
}
#main form ul li div select, #main form ul li.width_f div select, #main form ul.flat li div select, #main form ul.flat li.width_f div select {
    border-radius: 4px;
}
#main.abr .requirements, #main.abr .state-instructions, #main.abr .intro-message, #main.abr .finish_instructions, #main.lookup .requirements, #main.lookup .state-instructions, #main.lookup .intro-message, #main.lookup .finish_instructions, #main.alert_request .requirements, #main.alert_request .state-instructions, #main.alert_request .intro-message, #main.alert_request .finish_instructions, #main.ballot-status-check .requirements, #main.ballot-status-check .state-instructions, #main.ballot-status-check .intro-message, #main.ballot-status-check .finish_instructions {
	margin-top: 0;
}
#main .intro-message p {
	text-align: left;
}
#main.abr .intro-message {
	margin-bottom: 0;
	margin-top: 0;
}
#main #main_inner.step_1 .intro-message {
	margin-top: 15px;
}
#main.abr, #main.lookup, #main.alert_request, #main.ballot-status-check {
	line-height: 25px;
	font-size: 14px;
}
#main.abr .step_2 .intro-message {
	margin: 25px 0;
}
#main.abr .radio-buttons {
	margin-top: 15px;
}
#main.alert_request li.registrant-form__partner-opt-in-email__line {
	margin-top: 25px !important;
}
#main p.overseas-instructions, #main form span.compliance {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
}
#main .back {
	font-size: 14px;
}
#main form ul li h3, #main form ul li.width_f h3, #main form ul.flat li h3, #main form ul.flat li.width_f h3 {
	color: #000;
	font-family: 'Inter', sans-serif;
	font-size: 17px;
}
input[type=text], input[type=tel], input, select, textarea {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	border-radius: 4px;
	font-weight: 400;
}
#main form ul li div input, #main form ul li.width_f div input, #main form ul.flat li div input, #main form ul.flat li.width_f div input, #main form ul li div select, #main form ul li.width_f div select, #main form ul.flat li div select, #main form ul.flat li.width_f div select {
	height: 36px;
}
#main form ul li.registrant-form__home-zip__button button, #main form ul li.width_f.registrant-form__home-zip__button button, #main form ul.flat li.registrant-form__home-zip__button button, #main form ul.flat li.width_f.registrant-form__home-zip__button button {
	width: 100%;
	height: 36px;
}
#main.abr span.rollover_button a, #main form .rollover_button button, #main form .rollover_button span.button-style, #main.lookup span.rollover_button a, #main .continue_shift .rollover_button a, #main .download .rollover_button a, #main .download h2.preparing, span.rollover_button a, span.rollover_button a {
	background: none;
	background-color: rgb(15,117,189);
	border: none;
	color: #fff !important;
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	font-size: 16px;
	border-radius: 4px;
	transition: all .3s;
	padding: 11px 24px !important;
}
#main.abr span.rollover_button a:hover, #main form .rollover_button button:hover, #main form .rollover_button span.button-style:hover, #main.lookup span.rollover_button a:hover, #main .continue_shift .rollover_button a:hover, #main .download .rollover_button a:hover, span.rollover_button a:hover, span.rollover_button:hover a {
	text-decoration: none !important;
	background: none;
	background-color: rgb(8,59,95);
	color: #fff !important;
	border: none;
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	font-size: 16px;
	border-radius: 4px;
}
#main.lookup span.rollover_button a:hover, #main.abr span.rollover_button a:hover, #main .continue_shift .rollover_button a:hover, #main .download .rollover_button a:hover {
	background-color: rgb(8,59,95);
	color: #fff;
}
#main form ul li.registrant-form__has-no-state-license__line, #main form ul li.width_f.registrant-form__has-no-state-license__line, #main form ul.flat li.registrant-form__has-no-state-license__line, #main form ul.flat li.width_f.registrant-form__has-no-state-license__line {
	margin-bottom: 4px;
}
#main #other_language_link {
	text-align: right;
	margin: 0;
}
#main.abr ul li, #main.lookup ul li, #main.alert_request ul li, #main.ballot-status-check ul li {
	margin: 0 0;
}
#main.lookup .stacked span.error,#main.lookup .stacked span.example {
	height: 8px;
}
#main.abr .stacked span.error, #main.abr .stacked span.example, #main.abr .flat span.error, #main.abr .flat span.example {
    height: 16px;
    top: -32px;
    right: 10px;
    float: right;
}
#main.abr .instructions {
	display: inline-block;
	clear: both;
	width: 100%;
}
/*share page*/
#container2 div.rollover_button a, #container2 div.rollover_button:active a, #container2 span.rollover_button a, #container2 span.rollover_button:active a {
	display: inline-block;
	width: auto;
	white-space: normal;
	border: 0px solid #c64d4f;
	background: none;
	background-color: rgb(15,117,189);
	padding: 4px 0;
	border-radius: 4px;
	text-align: left;
}
#container2 div.rollover_button a span, #container2 div.rollover_button:active a span, #container2 span.rollover_button a span, #container2 span.rollover_button:active a span {
	background: none;
	padding: 4px 12px;
	width: auto;
	display: inline-block;
	color: white;
	font-size: 14px;
	text-transform: none;
	font-family: 'Inter', sans-serif;
	text-align: center;
}
#container2 div.rollover_button:hover a, #container2 span.rollover_button:hover a {
	display: inline-block;
	width: auto;
	white-space: normal;
	border: 0px solid #c64d4f;
	background: none;
	background-color: rgb(8,59,95);
	padding: 4px 0;
	border-radius: 4px;
	text-align: center;
	text-transform: none;
}
#container2 div.rollover_button:hover a span, #container2 span.rollover_button:hover a span {
	display: inline-block;
	background-image: none;
	text-align: center;
	text-transform: none;
	width: auto;
}
/*share page*/
#main form span.compliance {
	font-size: 12px;
	color: #000;
}
#main .step_4 .rollover_button button {
	line-height: 20px;
}
.button_keep_going_en.button_keep_going, .button_keep_going_en.button_keep_going:hover {
	background-color: transparent;
	text-align: center;
	color: #B32426;
}
.button_keep_going_en.button_keep_going:hover {
	background-color: transparent;
	text-align: center;
	color: #000;
}
input:focus, select:focus, textarea:focus {
	border: 1px solid rgb(15,117,189);
	background-color: #fff;
}
#other_language_link select:focus {
	border: none !important;
}
input[type='radio']:focus, input[type='checkbox']:focus {
	border: none !important;
	outline: none !important;
}
select:focus {
	outline: none;
}
.has_error input, .has_error select {
	border: 1px solid rgb(179,36,38);
}
#main p {
	margin: 0 0 14px 0;
}
#main form ul li.registrant-form__will-be-18-by-election__line h3 {
	margin-top: 0;
}
span#link-to-copy {
	overflow-wrap: anywhere;
}
#progress-bar li.progress-done {
	background-color: #BED9EC;
	border-radius: 4px;
}
#progress-bar li.progress-current {
	background-color: #BED9EC;
	border-radius: 4px;
}
#progress-bar li.progress-todo {
	background-color: #fff;
	border-radius: 4px;
}
#main.lookup form ul li.registrant-form__phone__line {
	margin-top: 0;
}
.registrant-form__state-id-number__line {
	margin-top: 8px;
}
.qtip-blue {
	color: #000;
	border: 1px solid #000;
	background-color: #fff;
}
.qtip-content {
	position: relative;
	padding: 12px 12px;
	overflow: hidden;
	text-align: left;
	word-wrap: break-word;
}
.qtip {
	font-size: 12px;
	line-height: 16px;
	margin-right: 20px;
	margin-left: 20px;
}
body #sticky_footer {
	position: relative;
	display: inline;
}
#footer {
	margin: 60px auto 0 auto;
	font-family: 'Inter', sans-serif;
}
#main form ul li div select, #main form ul li.width_f div select, #main form ul.flat li div select, #main form ul.flat li.width_f div select {
	color: #000;
}
input[type="checkbox"] {
	margin-left: 0;
}
#main form ul li.registrant-form__has-state-license__line {
	margin: 1em 10% 0;
}
#main.lookup li.registrant-form__opt-in-email__line {
	margin-top: 16px;
}
#main.abr h2, #main.lookup h2, #main.alert_request h2, #main.ballot-status-check h2 {
	text-align: left;
}
#main.abr .requirements, #main.abr .state-instructions, #main.abr .intro-message, #main.abr .finish_instructions, #main.lookup .requirements, #main.lookup .state-instructions, #main.lookup .intro-message, #main.lookup .finish_instructions, #main.alert_request .requirements, #main.alert_request .state-instructions, #main.alert_request .intro-message, #main.alert_request .finish_instructions, #main.ballot-status-check .requirements, #main.ballot-status-check .state-instructions, #main.ballot-status-check .intro-message, #main.ballot-status-check .finish_instructions {
	margin: 16px 0 0 0;
}
form#new_abr {
	top: 16px;
}
#main form span.compliance {
	font-size: 12px;
	color: #000;
	line-height: 1.4em;
	padding: 0 0 8px 5px;
	margin: 0 0 8px 0;
}
#main.lookup form span.compliance {
	line-height: 1.4em;
	padding: 0 0 8px 0;
	margin: 0 0 0 0;
}
#main.alert_request .consent_copy {
	margin-top: 8px;
}

/* swap footer logos */
body #footer #powered_by_aws_logo.powered-by-logo img {
	content: image-url('powered-by-aws-logo.png');
    height: 20px;
}
body #footer #powered_by_logo.powered-by-logo img {
	content: image-url('rock-the-vote-horizontal-logo.png');
}


/*media*/
@media screen and (min-width: 600px) {
	#main.lookup form ul li.registrant-form__prev-name-title__line,#main.lookup form ul li.registrant-form__name-suffix__line,#main.lookup form ul li.registrant-form__prev-name-suffix__line,#main.lookup form ul li.width_f.registrant-form__name-title__line,#main.lookup form ul li.width_f.registrant-form__prev-name-title__line,#main.lookup form ul li.width_f.registrant-form__name-suffix__line,#main.lookup form ul li.width_f.registrant-form__prev-name-suffix__line,#main.lookup form ul.flat li.registrant-form__name-title__line,#main.lookup form ul.flat li.registrant-form__prev-name-title__line,#main.lookup form ul.flat li.registrant-form__name-suffix__line,#main.lookup form ul.flat li.registrant-form__prev-name-suffix__line,#main.lookup form ul.flat li.width_f.registrant-form__name-title__line, #dd2834#main.lookup form ul.flat li.width_f.registrant-form__prev-name-title__line,#main.lookup form ul.flat li.width_f.registrant-form__name-suffix__line,#main.lookup form ul.flat li.width_f.registrant-form__prev-name-suffix__line {
		width: 20%;
	}
	#main.abr form ul li.registrant-form__first-name__line, #main.abr form ul li.registrant-form__prev-first-name__line,#main.abr form ul li.registrant-form__last-name__line, #main.abr form ul li.registrant-form__prev-last-name__line, #main.abr form ul li.width_f.registrant-form__first-name__line,#main.abr form ul li.width_f.registrant-form__prev-first-name__line, #main.abr form ul li.width_f.registrant-form__last-name__line,#main.abr form ul li.width_f.registrant-form__prev-last-name__line, #main.abr form ul.flat li.registrant-form__first-name__line,#main.abr form ul.flat li.registrant-form__prev-first-name__line, #main.abr form ul.flat li.registrant-form__last-name__line,#main.abr form ul.flat li.registrant-form__prev-last-name__line, #main.abr form ul.flat li.width_f.registrant-form__first-name__line,#main.abr form ul.flat li.width_f.registrant-form__prev-first-name__line, #main.abr form ul.flat li.width_f.registrant-form__last-name__line,#main.abr form ul.flat li.width_f.registrant-form__prev-last-name__line {
		width: 30%;
	}
	#main.abr form ul li.registrant-form__middle-name__line {
		width: 18%;
	}
	li.registrant-form__us-citizen__line {
		top: 12px;
		margin-bottom: 18px !important;
	}
	form#new_alert_request {
		top: 4px;
	}
}
@media screen and (max-width: 600px) {
	body #header {
		width: calc(100% - 30px);
		min-width: 270px;
		background-image: image-url('300px-rtv-logo.png');
		background-position: 10px 14px;
		background-size: auto 40px;
		height: auto;
	}
	#header .header-text {
		font-size: 14px;
	}
	body #header .header-text {
		font-size: 24px;
		padding-top: 24px;
		padding-bottom: 12px;
		margin-left: 60px;
		margin-right: 60px;
		display: inline-table;
	}
	#header {
		text-align: center;
		background-repeat: no-repeat;
		background-position: 0 15px;
		background-size: auto 50px;
		position: relative;
		width: 100%;
	}
	#main .intro-message p, #main p, #main.abr .intro-message p, #main.alert_request .intro-message, #main.alert_request .intro-message, #main.lookup .intro-message p, #main.lookup .reject p, #main.lookup .reject li, #main.alert_request .reject p, #main.alert_request .reject li, #main.abr p, #main.lookup p, #main.alert_request p, #main.ballot-status-check p, #main .declaration-text p, .fulltext p {
		font-size: 14px;
		line-height: 21px;
	}
	#main .declaration-text ul li {
		font-size: 14px;
		line-height: 21px;
	}
	#main.abr span.rollover_button a, #main form .rollover_button button, #main form .rollover_button span.button-style, #main.lookup span.rollover_button a, #main .continue_shift .rollover_button a, #main .download .rollover_button a, #main .download h2.preparing, span.rollover_button a, span.rollover_button a {
		font-size: 14px !important;
	}
	.qtip {
		left: 0px !important;
	}
	.qtip .qtip-tip {
		right: auto;
		left: 8px;
	}
	.flat span.error, .flat span.example {
		height: auto;
		min-height: 8px;
	}
	.stacked span.error, .stacked span.example {
		height: auto;
	}
	body #main form ul.stacked li {
		padding-bottom: 16px;
	}
	#main.lookup form ul.stacked li {
		padding-bottom: 8px;
	}
	body #main form ul li.registrant-form__will-be-18-by-election__line {
		margin-top: 4px;
	}
	body #main form ul li.registrant-form__change-of-name__line {
		margin-top: 8px;
	}
	#main #other_language_link {
		margin: 0;
	}
	.abr-page li.registrant-form__date-of-birth__line {
		top: 16px;
		margin-bottom: 16px !important;
	}
	body.abr-page #header .header-text {
		font-size: 23px;
	}
	body #main form ul li.registrant-form__us-citizen__line, body #main form ul li.registrant-form__will-be-18-by-election__line, body #main form ul li.registrant-form__change-of-name__line, body #main form ul li.registrant-form__required-checkbox, body #main form ul li.width_f.registrant-form__us-citizen__line, body #main form ul li.width_f.registrant-form__will-be-18-by-election__line, body #main form ul li.width_f.registrant-form__change-of-name__line, body #main form ul li.width_f.registrant-form__required-checkbox, body #main form ul.flat li.registrant-form__us-citizen__line, body #main form ul.flat li.registrant-form__will-be-18-by-election__line, body #main form ul.flat li.registrant-form__change-of-name__line, body #main form ul.flat li.registrant-form__required-checkbox, body #main form ul.flat li.width_f.registrant-form__us-citizen__line, body #main form ul.flat li.width_f.registrant-form__will-be-18-by-election__line, body #main form ul.flat li.width_f.registrant-form__change-of-name__line, body #main form ul.flat li.width_f.registrant-form__required-checkbox {
		margin-top: 8px;
	}
	li.registrant-form__volunteer__line {
		top: 8px;
	}
	/* shift checkboxes back to left margin on smaller screens */
	input[type="checkbox"] + label::before {
		margin-left: 0px;
	}
	.opt-ins input[type="checkbox"] + label::before {
		margin-left: 0px;
	}
	.opt-ins input[type="checkbox"] + label::after {
		left: 0px;
	}
	:not(.opt-ins) input[type="checkbox"] + label::after {
		left: 0px;
	}
	#main form span.compliance {
		padding: 0 0 8px 0px;
	}
	select {
		font-size: 14px;
	}
	#main form ul.radio li label, #main form ul.checkbox li label, #main form ul.flat.radio li label, #main form ul.flat.checkbox li label {
		font-size: 12px;
		width: 100%;
	}
	body #footer p {
		margin-right: auto;
		margin-left: auto;
	}
	/* shift state id fields back to left margin on smaller screens */
	#main form ul li.registrant-form__has-state-license__line {
		margin: 1em 0% 0;
	}
	#main form ul li.registrant-form__has-no-state-license__line,#main form ul li.registrant-form__has-state-license__line,#main form ul li.width_f.registrant-form__has-no-state-license__line,#main form ul li.width_f.registrant-form__has-state-license__line,#main form ul.flat li.registrant-form__has-no-state-license__line,#main form ul.flat li.registrant-form__has-state-license__line,#main form ul.flat li.width_f.registrant-form__has-no-state-license__line,#main form ul.flat li.width_f.registrant-form__has-state-license__line {
		margin-left: 0;
		width: 100%;
	}
	h1 .sub-header {
		margin: 16px 0 0 0;
	}
	#form_header {
		margin-bottom: 0px;
	}
	#main form ul li.registrant-form__survey-answer-1__line, #main form ul li.registrant-form__survey-answer-2__line, #main form ul li.width_f.registrant-form__survey-answer-1__line, #main form ul li.width_f.registrant-form__survey-answer-2__line, #main form ul.flat li.registrant-form__survey-answer-1__line, #main form ul.flat li.registrant-form__survey-answer-2__line, #main form ul.flat li.width_f.registrant-form__survey-answer-1__line, #main form ul.flat li.width_f.registrant-form__survey-answer-2__line {
		margin-bottom: 10px;
	}
	#main.using_state_registration .step_2 li.registrant-form__date-of-birth__line {
		margin-bottom: 8px !important;
	}
	#main .step_1 ul.flat.registrant-form__home-zip {
		margin-top: 12px !important;
	}
	.abr-page #main.abr .step_1 ul.flat.registrant-form__home-zip {
		margin-top: 8px !important;
	}
	#main.abr .step_2 form ul.stacked li {
		padding-bottom: 0px;
	}
	#main.abr .step_3 form ul.stacked li {
		padding-bottom: 0px;
	}
	#main .step_1 #other_language_link select {
		margin-bottom: 16px;
	}
	#main .privacy_policy_acceptance {
		margin-top: 16px;
	}
	#main .edit_state_registrants_mi_registrant span.error {
		min-height: auto;
	}
	#main .edit_state_registrants_mi_registrant ul.stacked li {
		padding-bottom: 0px;
	}
	#main .edit_state_registrants_mi_registrant ul.stacked li {
		padding-bottom: 0px;
	}
	#main .step_3 .edit_state_registrants_mi_registrant ul.stacked li {
		padding-bottom: 12px;
	}
	.step_3 .edit_state_registrants_mi_registrant li.registrant-form__date-of-birth__line {
		margin-top: 12px !important;
	}
	.step_3 .edit_state_registrants_mi_registrant ul.flat.eye-color-dropdown {
		margin-top: 12px !important;
	}
	.step_3 .edit_state_registrants_mi_registrant ul.flat.ssn {
		margin-top: 12px !important;
	}
	#main .edit_state_registrants_mi_registrant label {
		display: inline;
	}
}
@media (min-width: 468px) and (max-width: 600px) {
	#main.lookup form ul li.registrant-form__first-name__line, #main.lookup form ul li.registrant-form__last-name__line {
		width: 49%;
	}
	#main.lookup form li.width_b.registrant-form__last-name__line {
		margin-right: 0 !important;
	}
	#main.lookup form li.width_d.registrant-form__name-suffix__line {
		top: -20px !important;
	}
	#main.lookup form ul li.registrant-form__home-city__line {
		width: 100%;
	}
	#main {
		padding: 0 10px;
	}
}
@media (max-width: 468px) {
	#main {
		padding: 0 10px;
	}
	#main.lookup form ul li.registrant-form__first-name__line, #main.lookup form ul li.registrant-form__last-name__line {
		width: 100%;
	}
	#main.lookup form li.width_b.registrant-form__last-name__line {
		margin-right: 0 !important;
	}
	#main.lookup form li.width_d.registrant-form__name-suffix__line {
		top: 0px !important;
	}
	#main.lookup form li.registrant-form__date-of-birth__line {
		top: 16px;
		margin-bottom: 20px !important;
	}
	#main.lookup form ul li.registrant-form__home-city__line {
		width: 100%;
	}
	body #header .header-text {
		font-size: 22px;
		width: 80%;
	}
	#main.alert_request li.width_c.registrant-form__middle-name__line {
		display: none;
	}
	#main.alert_request form ul li.registrant-form__first-name__line,#main.alert_request form ul li.registrant-form__last-name__line,#main.alert_request form ul li.registrant-form__home-address__line,#main.alert_request form ul li.registrant-form__home-city__line,#main.alert_request form ul li.registrant-form__email__line,#main.alert_request form ul li.registrant-form__phone__line {
		width: 100% !important;
		margin-right: 0 !important;
	}
	#main.abr ul li, #main.lookup ul li, #main.alert_request ul li, #main.ballot-status-check ul li {
		margin: 0;
	}
	#main.abr .requirements, #main.abr .state-instructions, #main.abr .intro-message, #main.abr .finish_instructions, #main.lookup .requirements, #main.lookup .state-instructions, #main.lookup .intro-message, #main.lookup .finish_instructions, #main.alert_request .requirements, #main.alert_request .state-instructions, #main.alert_request .intro-message, #main.alert_request .finish_instructions, #main.ballot-status-check .requirements, #main.ballot-status-check .state-instructions, #main.ballot-status-check .intro-message, #main.ballot-status-check .finish_instructions {
		margin: 0 0 15px 0;
	}
	#container2 .share div {
		width: 100%;
	}
	.qtip {
		left: 0px !important;
		max-width: 100%;
	}
	#main p.overseas-instructions {
		margin: 2em 0;
	}
}
/* new mobile ui overrides */
body.new-mobile-ui #main #dynamic-progress-bar {
    background: transparent;
    border-radius: 4px;
    border: 1px solid #000;
}
body.new-mobile-ui #main #dynamic-progress-bar .filler {
    background: #BED9EC;
    border-right: 1px solid #000;
    z-index: -1;
}
body.new-mobile-ui #main #dynamic-progress-bar .content {
    visibility: hidden;
}
body.new-mobile-ui #main form ul li.registrant-form__us-citizen__line, body.new-mobile-ui #main form ul li.registrant-form__change-of-name__line {
    margin-top: 16px;
}
body.new-mobile-ui #main #download_no_js {
    padding: 0px;
}
body.new-mobile-ui #sticky_footer {
    display: inherit;
}
body.new-mobile-ui #main .step_4 form ul li.registrant-form__name-suffix__line, 
body.new-mobile-ui #main .step_4 form ul li.registrant-form__prev-name-suffix__line {
    margin-left: 0;
}
body.new-mobile-ui #main .step_4 ul li.registrant-form__state-id-number__line {
    margin-top: 8px;
}
body.new-mobile-ui #main .step_4 form ul li.registrant-form__change-of-name__line {
    margin-top: 0px;
}
body.new-mobile-ui #main .step_4 form fieldset legend {
    padding: 0;
}
body.new-mobile-ui #main .step_2 form ul li.registrant-form__will-be-18-by-election__line {
   margin-top: 16px;
}
body.new-mobile-ui #main .step_4  a.button_edit_en.button_edit {
    width: fit-content;
    float: left;
    padding: 5px 10px !important;
    font-size: 12px;
    text-decoration: inherit;
    margin-top: 8px;
    display: block;
}
body.new-mobile-ui #main .step_4 span.button.rollover_button {
    display: block;
}
body.new-mobile-ui #main .step_2 .skip_state_registration .checkbox {
    margin: 24px 0;
}
body.primary-partner #footer #powered_by_aws_logo {
    display: inline-block;
    position: absolute;
    bottom: 0px;
}
/* new mobile ui overrides */

/*registration 2024 edits*/