#main {
  .download .rollover_button a,
  .download h2.preparing,
  form .rollover_button button {
    font-family: helvetica, arial, sans-serif;
  }
}
body #footer {
  font-family: helvetica, arial, sans-serif;
}

/* Phone type label width */
ul.flat .secondary h3#registrant_phone_type_label {
	width: 119px;
}
/* END Phone type label width */