= render partial: 'header'

#canvassing-shift

  %h2 Enter Partner ID
  %br
  = form_tag new_canvassing_shifts_path, {method: :get} do
    = text_field_tag :partner

    = rollover_button(:next, "Next") #I18n.t('txt.button.submit').html_safe
