= render partial: 'step2/name', locals: {form: form, middle_name_required: true}

%br
%fieldset
  %ul.stacked
    %li.registrant-form__no-middle-name__line
      = render partial: 'registrants/generic/checkbox', locals: {form: form, field: :confirm_no_middle_name, required: false}
