  <div id="footer">
    <%- if !@registrant || @registrant.use_short_form? %>
      <div id="powered_by_logo" class="powered-by-logo">
        <span class='powered-by-text'>Powered By</span>
        <a href="<%= RockyConf.sponsor.url %>" target="_blank">
          <%= image_tag 'rock-the-vote-horz-logo-rev.png', alt: 'Rock the Vote', class: 'rtv-logo' %>
        </a>
      </div>
      <div id="powered_by_aws_logo" class="powered-by-logo">
        <%= image_tag 'powered-by-aws-logo-v3.png', alt: 'Powered by Amazon Web Services' %>
      </div>
    <%- end %>
    <p>
      <span><a href="https://www.rockthevote.org/voting-information/voting-faqs/" target="_blank" title="FAQ">FAQ</a></span>
      <span><a href="https://www.rockthevote.org/privacy-policy/" target="_blank" title="Privacy &amp; Security">Privacy &amp; Security</a></span>
      <span><a href="https://www.rockthevote.org/contact-us/" target="_blank" title="Contact Us">Contact Us</a></span>
      <span><a href="https://www.rockthevote.org/about-us/" target="_blank" title="About">About</a></span>
      <span class="copyright"><%= (RockyConf.sponsor.footer_copyright % Date.today.year).html_safe %></span>
    </p>
  </div>

<% if @registrant && @registrant.iframe_param_present? %>
  <!-- iframed-->
  <script>
    // Function to scroll the parent window to the top of the iframe content
    function scrollToTopOfIframe() {
      // If the parent window exists (i.e., the page is inside an iframe)
      if (window.parent) {
        // Get the iframe element
        var iframe = window.parent.document.querySelector('iframe');

        // Scroll the iframe content to the top
        if (iframe) {
          iframe.contentWindow.scrollTo(0, 0);
        }
      }
    }

    // Add event listeners to submit buttons to call scrollToTopOfIframe function
    document.addEventListener('DOMContentLoaded', function() {
      // Get references to submit buttons
      var submitButtons = document.querySelectorAll('button[type="submit"]');

      // Function to handle button click
      function handleButtonClick() {
        // Scroll parent window to top of iframe content
        scrollToTopOfIframe();
      }

      // Attach event listeners to submit buttons
      submitButtons.forEach(function(button) {
        button.addEventListener('click', handleButtonClick);
      });
    });
  </script>
<% end %>
