  <div id="footer">
    <%- if !@registrant || @registrant.use_short_form? %>
      <div id="powered_by_logo" class="powered-by-logo">
        <span class='powered-by-text'>Powered By</span>
        <a href="<%= RockyConf.sponsor.url %>" target="_blank">
          <%= image_tag 'rock-the-vote-horz-logo-rev.png', alt: 'Rock the Vote', class: 'rtv-logo' %>
        </a>
      </div>
      <div id="powered_by_aws_logo" class="powered-by-logo">
        <%= image_tag 'powered-by-aws-logo-v3.png', alt: 'Powered by Amazon Web Services' %>
      </div>
    <%- end %>
    <p>
      <span><a href="https://www.rockthevote.org/voting-information/voting-faqs/" target="_blank" title="FAQ">FAQ</a></span>
      <span><a href="https://www.rockthevote.org/privacy-policy/" target="_blank" title="Privacy &amp; Security">Privacy &amp; Security</a></span>
      <span><a href="https://www.rockthevote.org/contact-us/" target="_blank" title="Contact Us">Contact Us</a></span>
      <span><a href="https://www.rockthevote.org/about-us/" target="_blank" title="About">About</a></span>
      <span class="copyright"><%= (RockyConf.sponsor.footer_copyright % Date.today.year).html_safe %></span>
    </p>
  </div>

<%- if @registrant && @registrant.iframe == 'true' %>
  <!-- Scroll to the top after each step if used in iframe -->
  <script>
    function scrollToTop() {
      document.body.focus(); // Focus on the body element
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
    // Attach an event listener to buttons with the class "button"
    document.addEventListener('DOMContentLoaded', function() {
      var buttons = document.querySelectorAll('.button button');
      if (buttons) {
        buttons.forEach(function(button) {
          button.addEventListener('click', scrollToTop);
        });
      }
    });
  </script>
<% end %>